        <table class="table table-bordered d-none d-sm-table">
            <tbody>
                {% for i in range(session["new_project"]["number_of_versions"]) %}
                    <tr>
                        <td>
                            <strong>Version {{ (i + 1) }}:</strong>
                            <select name="{{ i }}" form="submit_language">
                                {% include "select/languages.html" %}
                            </select>
                        </td>
                        <td>
                            Source: <input type="text" name="source{{ i }}"
                                           form="submit_language" placeholder="Optional">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="d-block d-sm-none">
            {% for i in range(session["new_project"]["number_of_versions"]) %}
                <div>
                    <p>
                        <strong>Version {{ (i + 1) }}:</strong>
                        <select name="{{ i }}" form="submit_language">
                            {% include "select/languages.html" %}
                        </select>
                    </p>
                    <p>
                        Source: <input type="text" name="source{{ i }}"
                                       form="submit_language" placeholder="Optional">
                    </p>
                </div>
            {% endfor %}
        </div>