/* for the three vertical columns */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.leftindex {
    width: 15%;
    position: relative;
    float: left;
    background-color: #713D99;
    border-collapse: collapse;
}

.middleindex {
    width: 0%;
}

.rightindex {
    width: 85%;
    position: relative;
    float: right;
    border-collapse: collapse;
}

.topindex {
    width: 100%;
    background-color: #A68753;
    border-collapse: collapse;
}

.bottomindex {
    width: 100%;
    background-color: #1F663B;
    border-collapse: collapse;
}

.leftpractice {
    width: 33%;
    height: 100%;
    float: left;
    background-color: #713D99;
    border-collapse: collapse;
}

.middlepractice {
    width: 33%;
    height: 100%;
    float: left;
    background-color: #A68753;
    border-collapse: collapse;
}

.rightpane {
    width: 33%;
    height: 100%;
    position: relative;
    float: right;
    background-color: #1F663B;
    border-collapse: collapse;
}
/* end of three vertical columns*/

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    /* for the three vertical columns */
    width: 100%;
    height: 100%;
}

/* button inspiration https://www.bestcssbuttongenerator.com/ */
.quickTestButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:10px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
    margin: 14.5% 0%;
}

.quickTestButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
}

.quickTestButton:active {
    position:relative;
    top:1px;
}

/* colors for navbar */
.navbar-default .navbar-brand .blue
{
    color: #537fbe;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

/* https://stackoverflow.com/questions/17469483/how-to-increase-the-distance-between-table-columns-in-html */
table {
    border-collapse: collapse;
    border-spacing: 50px 0;
    margin-top: 45px;
}

td {
    border: 1px solid black;
    padding: 5px;
}

.blurry {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}