/* after bs4 */

/* https://stackoverflow.com/questions/10336194/twitter-bootstrap-top-nav-bar-blocking-top-content-of-the-page */
body {
  padding-top: 55px;
}

main {
    padding: 0 1rem;
}

/* color scheme https://color.adobe.com/Campfire-color-theme-2528696/ */
#practice-div {
    background-color: #588c7e;
    text-align: center;
}

.quick-practice {
    margin: 2rem auto;
    border: solid black 1px;
}

#carousel-div {
    background-color: #d96459;
    text-align: center;
}

.carousel-item .card {
    width: 13rem;
    margin: 2rem auto;
}

.carousel-item .card a {
    text-decoration: none;
}

.carousel-item .card-header {
    color: black;
}

.image-div {
    height: 14rem;
}

/* https://stackoverflow.com/questions/30595321/how-to-scale-image-to-fit-the-container */
.image-div img {
    max-height: 100%;
    max-width: 100%;
}

.carousel-item .card .card-header, .card-footer {
    padding: 0;
}

#chat-div {
    background-color: #f2ae72;
}

#chat-div textarea {
    margin: 1rem auto;
    width: 100%;
    background-color: lightgrey;
    resize: none;
    overflow-y: scroll;
}

/* https://stackoverflow.com/questions/5817233/align-button-at-the-bottom-of-div-using-css */
#chat-div form {
    margin-bottom: 1rem;
}

#comment {
    width: 60%;
    margin-right: 1rem;
}

#chat-div button {
}

#recent-div {
    background-color: #f2e394;
}

#recent-div, #popular-div {
    text-align: center;
    padding: 1rem;
    font-size: 11px;
}

#recent-div h5, #popular-div h5 {
    padding: 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.version-list {
    border: solid black 1px;
    padding: 1rem;
}

#popular-div {
    background-color: #8c4646;
}

#popular-div a, #recent-div a {
    color: darkblue;
}

#popular-div hr, #recent-div hr {
    border-color: black;
    margin: 5px 0;
}

.title-row {
    margin-top, margin-bottom: 0;
}

/* end bs4 */