/* after bs4 */

/* https://stackoverflow.com/questions/10336194/twitter-bootstrap-top-nav-bar-blocking-top-content-of-the-page */
body {
    padding-top: 55px;
}

main {
    padding: 0 1rem;
}

/* https://stackoverflow.com/questions/31784519/show-number-of-notifications-on-icon */
.fa-bell {
    position: absolute;
    color: red;
    font-size: 11px;
    margin-left: -11px;
}

/*
the navbar-collapsed bell notification looks misplaced in chrome on small devices
https://stackoverflow.com/questions/2447511/can-you-target-google-chrome
*/
@media (max-width: 767.98px) and (-webkit-min-device-pixel-ratio:0) {

    /*Chrome CSS here*/
    .fa-bell:first-of-type {
        margin-left: 9px;
        margin-top: -30px;
    }
}

/* color scheme https://color.adobe.com/Campfire-color-theme-2528696/ */
#practice-div, #started-projects {
    background-color: #588c7e;
}

#index h5 {
    font-weight: bold;
}

.quick-practice {
    margin: 2rem auto;
    border: solid black 1px;
}

#carousel-div, #uploaded-versions {
    background-color: #d96459;
}

.carousel-item .card {
    width: 13rem;
    margin: 1rem auto;
}

.carousel-item .card a {
    text-decoration: none;
}

.carousel-item .card-header {
    color: black;
}

.image-div {
    height: 14rem;
}

/* https://stackoverflow.com/questions/30595321/how-to-scale-image-to-fit-the-container */
.image-div img {
    max-height: 100%;
    max-width: 100%;
}

.carousel-item .card .card-header, .card-footer {
    padding: 0;
}

.small-font {
    font-size: 13px;
}

#chat-div, #uploaded-projects {
    background-color: #f2ae72;
}

#chat-div h5 {
    padding-top: 1rem;
}

#chat-div div {
    border: solid black 1px;
    margin: 1rem auto 0 auto;
    width: 100%;
    height: 9rem;
    background-color: lightgrey;
    overflow-y: scroll;
    font-size: 11px;
}

#chat-div ul {
    list-style: none;
    padding-left: 5px;
}

#chat-div .fa-comments {
    color: purple;
}

#chat-div input {
    width: 100%;
    margin: 1rem 0;
}

#chat-div button {
    padding: 5px 15px;
    margin: 0 auto 1rem auto;
}

@media (min-width: 1200px) {
    #chat-div button {
        margin: 5px auto 0 auto;
        padding: 5px 15px;
    }
    #chat-div input {
        margin: 5px auto 0 auto;
    }
    #chat-div form {
        margin-bottom: 1rem;
    }
    #chat-div div {
        height: 7.5rem;
    }
}

#activity-div > row {
    height: 100%;
}

#recent-div {
    background-color: #f2e394;
}

#recent-div, #popular-div {
    text-align: center;
    padding: 1rem;
    font-size: 11px;
}

#recent-div h5, #popular-div h5 {
    padding-bottom: 0.5rem;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.version-list {
    border: solid black 1px;
    padding: 1rem;
}

#popular-div {
    background-color: #8c4646;
}

#popular-div a, #recent-div a {
    color: darkblue;
}

#popular-div hr, #recent-div hr {
    border-color: black;
    margin: 5px 0;
}

.title-row {
    margin-top, margin-bottom: 0;
}

#account-details {
    width: 40%;
    margin: auto;
    font-size: 14px;
}

/* table appears left-padded on xs */
@media (max-width: 335px) {
    #account-details {
        margin-left: -1.5rem;
        font-size: 12px;
    }
}

#account-details p {
    margin: 5px auto 0 auto;
}

#account-history {
    font-size: 13px;
    text-align: center;
}

#account-history > div {
    min-height: 11rem;
}

#account-history table {
    width: 95%;
    margin: auto;
}

#account-history a {
    color: inherit;

}

#account-history button {
    padding: 0 0.5rem;
    font-weight: bold;
}

.clipped {
    display: none;
}

@media (max-width: 360px) {
    .normal {
        display: none;
    }
    .clipped {
        display: inline;
    }
}

#login-form {
    margin-top: 2rem;
}

#login-form .form-group {
    width: 15rem;
    margin: 1rem auto;
}

#login-form .login-button {
    text-align: center;
}


/* end bs4 */