{% extends "layout.html" %}

{% block title %}
    About Parallellearn
{% endblock %}

{% block main %}
    <div class="align-left" id="about">
        <br>
        <h3 class="align-center">Welcome to Parallellearn</h3>
        <div>
            <p>The idea of this website came to me while learning French. The Internet is wide and vast -
            you have all the resources in the world to learn a foreign language, even if you're doing it all by yourself -
            from college textbooks, to applications (ex. Rosetta Stone), to audio podcasts (ex. Pimsleur),
            to websites (ex. Duolingo, Memrise), etc. It was all rather straightforward at the beginning,
            but personally, I hit a glass ceiling at a certain point.
            Without the immediate chance to move to an environment where people around you natively speak
            this newly-learnt language of yours (i.e. immersion), I found it pretty hard making that leap from
            intermediate to advanced.</p>
            <p>The reading and listening comprehensions were constantly improving, but my ability to express
            myself freely was stalling. I couldn't find any
            way to perceptibly get better even with the passing of time. Listening to songs, watching
            movies - this was all fine and good - but I was willing to practice my translation skills,
            for real-life conversations, not Duolingo-style sentences
            (ex. "The elephant has two apples."). Don't get me wrong, Duolingo is amazing in its own right,
            but I found it lacking from this perspective. Specifically I was looking for books with parallel
            translations, transcript exercises, and, naturally, translation exercises. <strong>And not simple
            exercises, but intuitive ones, like exercises with lines from popular books/songs/movies in regard
            to which, even if I don't know the translation right away, the context of the situation or knowing
            the plot in some other language leads me on the right path and help me understand better.</strong>
            I didn't find anything out there to satisfy my needs.</p>
            <p>Enter this website. Ultimately, what I'm trying to achieve with it is:
                <ul>
                    <li>
                        having well-known artworks (movies, books, songs) in multiple languages and giving
                        users the opportunity to exercise and improve their translation skills, especially
                        when translating real-life dialogue, from everyday situations;
                    </li>
                    <li>
                        having the audio version of the very same art-works (movies with their original /
                        dubbed soundtrack, audio books, songs) and giving users the opportunity to
                        exercise their transcripting and/or translation skills;
                    </li>
                    <li>
                        giving users the possibility to download those artworks (especially books)
                        in a parallel-translation version, so that if you want to read in a foreign language
                        and you don't understand something, you get the context translation, not the rigid
                        dictionary one.
                    </li>
                </ul>
            </p>
            <p>So far I've only achieved the first of the three stated goals, but hopefully I will manage
            to get all three done, before laziness/lack of interest wins me over. Of course, this cannot
            be done without your help. By giving you the possibility to contribute, we can help each other out
            learn new languages / improve our foreign language skills.</p>
        <div>
        <h5 class="align-center">Enjoy!</h5>
        <br>
    </div>
{% endblock %}
