{% extends "layout.html" %}

{% block title %}
    About Parallellearn
{% endblock %}

{% block main %}
    <h1 style="text-align: center;">Welcome to Parallellearn</h1>
    <div style="text-align: left;">
        <p>The idea of this website came to me while learning French. The Internet is wide and vast -
        you have all the resources in the world to learn a foreign language, even if you're doing it all by yourself -
        from textbooks, to applications like Rosetta Stone, to audio podcasts (ex. Pimsleur),
        to websites (Duolingo, Memrise) etc.</p>
        <p>It was all rather straightforward, but personally, I hit a glass ceiling at a certain point.
        Without the immediate chance to move to an environment where people around you natively speak
        this newly-learnt language of yours (i.e. immersion), I found it pretty hard making that leap from
        an intermediate level to advanced, fluent French.</p>
        <p>The reading and listening comprehensions were constantly improving, but my ability to express
        myself freely in French was stalling. Now, that's something normal when you're starting, but I couldn't find any
        way to perceptibly get better from this point of view. Listening to French songs, watching French
        movies, all fine and good, but I was willing to practice my translation skills, and I found a
        distinct lack of resources in this area - real-life conversations like, not the Duolingo-style
        ("The elephant has two apples") type of thing (don't get me wrong, Duolingo is awesome in its
        own right, but I found it lacking from this perspective). Specifically I was looking for books with parallel
        translations, transcript exercises, and, naturally, translation exercises. And I didn't find
        anything out there to satisfy my needs.</p>
        <p>Enter this website. Ultimately, what I'm trying to achieve with it is:
            <ul>
                <li>
                    having well-known artworks (movies, books, songs) in multiple languages and giving
                    users the opportunity to exercise and improve their translation skills, especially
                    when translating real-life dialogue, from everyday situations;
                </li>
                <li>
                    having the audio version of the very same art-works (movies with their original /
                    dubbed soundtrack, audio books, songs) and giving users the opportunity to
                    exercise their transcripting and/or translation skills;
                </li>
                <li>
                    giving users the possibility to download those artworks (especially books)
                    in a parallel-translation version, so that if you want to read in a foreign language
                    and you don't understand something, you get the context translation, not the rigid
                    dictionary one;
                </li>
            </ul>
        </p>
        <p>So far I've only achieved the first of the three stated goals, but hopefully I will manage
        to get all three done, before laziness/lack of interes wins me over. Of course, this cannot
        be done without your help. By giving you the possibility to contribute, we can help each other out
        learn new languages / improve our foreign language skills.</p>
    <div>
    <h2 style="text-align: center;">Enjoy!</h2>
{% endblock %}
