{% extends "layout.html" %}

{% block title %}
    Account History
{% endblock %}

{% block main %}

    <div class="container">

        <div>
            <h1>Started Projects</h1>

                {% if started_projects|length == 0 %}
                    <br>
                    <p>You haven't started any projects yet.</p>
                    <br>
                {% else %}
                    <div class="row">
                        <div class="col-xs-3"><strong>Title</strong></div>
                        <div class="col-xs-1"><strong>Season</strong></div>
                        <div class="col-xs-1"><strong>Episode</strong></div>
                        <div class="col-xs-2"><strong>Author</strong></div>
                        <div class="col-xs-1"><strong>Year</strong></div>
                        <div class="col-xs-1"><strong>Type</strong></div>
                        <div class="col-xs-1"><strong>From</strong></div>
                        <div class="col-xs-1"><strong>To</strong></div>
                        <div class="col-xs-1"><strong>Progress</strong></div>
                    </div>
                    <hr>
                    <ol>
                    {% for project in started_projects %}
                        <div class="row">
                            <a href="#">
                            <li>
                            <div class="col-xs-2"> {{ project["title"] }} </div>
                            <div class="col-xs-1"> {{ project["season"] }} </div>
                            <div class="col-xs-1"> {{ project["episode"] }} </div>
                            <div class="col-xs-1"> {{ project["author"] }} </div>
                            <div class="col-xs-1"> {{ project["year"] }} </div>
                            <div class="col-xs-1"> {{ project["type"] }} </div>
                            <div class="col-xs-1"> {{ project["from_language"] }} </div>
                            <div class="col-xs-1"> {{ project["to_language"] }} </div>
                            <div class="col-xs-1"> {{ project["progress"] }} </div>
                            </a>
                            <div class="col-xs-1">
                                <a href="#"><button type="button" class="resumeButton">Resume</button></a>
                            </div>
                            <div class="col-xs-1">
                                <a href="#"><button type="button" class="discardButton">Discard</button></a>
                            </div>
                            </li>
                        </div>

                    {% endfor %}
                    </ol>
                {% endif %}
        </div>

        <div>
            <h1>Uploaded Projects</h1>

                {% if uploaded_projects|length == 0 %}
                    <br>
                    <p>You haven't uploaded any projects yet.</p>
                    <br>
                {% else %}
                    <div class="row">
                        <div class="col-xs-2"><strong>Title</strong></div>
                        <div class="col-xs-1"><strong>Season</strong></div>
                        <div class="col-xs-1"><strong>Episode</strong></div>
                        <div class="col-xs-2"><strong>Author</strong></div>
                        <div class="col-xs-1"><strong>Year</strong></div>
                        <div class="col-xs-1"><strong>Type</strong></div>
                        <div class="col-xs-2"><strong>Languages</strong></div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-1"></div>
                    </div>
                    <hr>

                    {% for project in uploaded_projects %}

                        <a href="{{ url_for('view_project', title=project['title']) }}">
                            <div class="row">

                                    <div class="col-xs-2"> {{ project["title"] }} </div>
                                    <div class="col-xs-1"> {{ project["season"] }} </div>
                                    <div class="col-xs-1"> {{ project["episode"] }} </div>
                                    <div class="col-xs-2"> {{ project["author"] }} </div>
                                    <div class="col-xs-1"> {{ project["year"] }} </div>
                                    <div class="col-xs-1"> {{ project["type"] }} </div>
                                    <div class="col-xs-2"> {{ project["languages"] }} </div>
                        </a>
                                    <div class="col-xs-1">
                                        <form action="{{ url_for('edit_project') }}" method="POST">
                                            <button type="submit" name="edit_project" value="{{ project['filepath'] }}">
                                                Edit
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-xs-1">
                                        <form action="{{ url_for('delete_project') }}" method="POST">
                                            <button type="submit" name="delete_project" value="{{ project['filepath'] }}">
                                                Delete
                                            </button>
                                        </form>
                                    </div>

                            </div>
                    {% endfor %}

                {% endif %}
        </div>
    </div>

{% endblock %}
