{% extends "layout.html" %}

{% block title %}
    Account Notifications
{% endblock %}

{% block main %}
    <div class="container" id="account-notifications">
        <br>
        <strong><h3>Account Notifications</h3></strong>
        <hr>
        {% if notifications|length == 0 %}
            <br>
            <p>You don't have any notifications.</p>
            <br>
        {% else %}
            {% for notification in notifications %}
                <div class="wrapper align-left">
                    <p>
                        <u><b>{{ notification["title"].title() }}</b></u>:
                        For <i>"{{ notification["context_line"] }}"</i> ({{ notification["from_language"].title() }})
                        instead of <i>"{{ notification["original_line"] }}"</i> ({{ notification["to_language"].title() }})
                        <b>{{ notification["user"] }}</b> suggets using <i>"{{ notification["suggested_line"] }}"</i>.
                    </p>
                    <hr>
                    <form action="{{ url_for('action_correction') }}" method="POST">
                        <button type="submit" name="implement_correction"
                        value="{{ notification['correction_id'] }}" class="btn btn-sm btn-success">
                            Implement
                        </button>
                    </form>
                    <form action="{{ url_for('action_correction') }}" method="POST">
                        <button type="submit" name="discard_correction"
                        value="{{ notification['correction_id'] }}" class="btn btn-sm btn-danger">
                            Discard
                        </button>
                    </form>
                </div>
                {% endfor %}
            <br>
        {% endif %}
    </div>
{% endblock %}
