{% extends "layout.html" %}

{% block title %}
    Change Username
{% endblock %}

{% block main %}
    <div class="container">
        <br>
        <form action="{{ url_for('change_username') }}" method="post" class="pl-form">
            <fieldset>
                <div class="form-group">
                    <input class="form-control" name="new_username" placeholder="New username" type="text"
                     required>
                </div>
                <div class="form-group align-center">
                    <button class="btn btn-primary" type="submit">Change username</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
