{% extends "layout.html" %}

{% block title %}
        Correct Line
{% endblock %}

{% block main %}

    <div class="container">

        <!-- https://www.thoughtco.com/center-table-with-css-3469875 -->
        <table style="margin: auto;">
            <tr>
                <th>GOOD LINE: </th>
                <td>{{ good_line }}</td>
            </tr>
            <tr>
                <th>BAD LINE: </th>
                <td>{{ bad_line }}</td>
            </tr>
            <tr>
                <th>CORRECT BAD LINE: </th>
                <td>
                    <form action="{{ url_for('correct_line') }}" method="post" id="correct_line_form">
                        <input type="text" style="width: 100%" autofocus name="correct_line_text">
                    </form>
                </td>
            </tr>
        </table>
        </br>
        <button class="btn btn-default" type="submit" name="correct_line" value="{{ good_line_id }},{{ bad_line_id }}"
                form="correct_line_form">
            Submit Correction
        </button>

    </div>

{% endblock %}
