{% extends "layout.html" %}

{% block title %}
    Delete Project
{% endblock %}

{% block main %}

    <!-- https://stackoverflow.com/questions/1571648/tab-space-instead-of-multiple-non-breaking-spaces-nbsp -->
    <div style="text-align: left; padding-left: 5em;">
        For <b>{{ project["title"].title() }}</b>, you can delete the following versions:
        <select autofocus name="delete_version" form="submit_version" style="display: inline-block">
            {% for version in project["versions_to_delete"] %}
                <option value="{{ version['id'] }}">{{ version['language'].title() }}</option>
            {% endfor %}
        </select>
        <form action="{{ url_for('delete') }}" id="submit_version" style="display: inline-block" method="post">
            <button class="btn btn-default" type="submit">Delete Version</button>
        </form>
        <br><br><br>
        <!-- Can only delete your own projects -->
        {% if project["user_id"] == session["user_id"] %}
            Alternatively, you can delete the entire project altogether:

            <!-- https://stackoverflow.com/questions/18155809/remove-line-break-html -->
            <form action="{{ url_for('delete') }}" style="display: inline-block" method="post">
                <button name="delete_project" value="{{ project['id'] }}" type="submit" class="btn btn-default">
                    Delete Project
                </button>
            </form>
        {% endif %}
    </div>

{% endblock %}
