{% extends "layout.html" %}

{% block title %}
    Delete Project
{% endblock %}

{% block main %}

    <div class="container align-center" id="delete">
        <br>
        <strong><h4>Delete Project</h4></strong>
        <br>

        <!-- Delete versions -->
        For <b>{{ project["title"].title() }}</b>, you can delete the following versions:
        <select autofocus name="delete_version" form="submit_version">
            {% for version in project["versions_to_delete"] %}
                <option value="{{ version['id'] }}">{{ version['language'].title() }}</option>
            {% endfor %}
        </select>
        <form action="{{ url_for('delete') }}" id="submit_version" method="post">
            <button class="btn btn-danger btn-sm" type="submit">Delete Version</button>
        </form>
        <br><br>
        <!-- Can only delete your own projects -->
        {% if project["user_id"] == session["user_id"] %}
            Alternatively, you can delete the entire project altogether:

            <form action="{{ url_for('delete') }}" method="post">
                <button name="delete_project" value="{{ project['id'] }}"
                        type="submit" class="btn btn-danger btn-sm">
                    Delete Project
                </button>
            </form>
        {% endif %}

    </div>

{% endblock %}
