{% extends "layout.html" %}

{% block title %}
    Edit Project: Language Versions
{% endblock %}

{% block main %}

    <!--
    Multiple level template inheritance in Jinja2?
    https://stackoverflow.com/questions/1976651/multiple-level-template-inheritance-in-jinja2
    -->
    Change your
    <select name="change_from_version" form="change_version">
        {% for version in project["versions"] %}
            <option value="{{ version['id'] }}">{{ version['language'].title() }}</option>
        {% endfor %}
    </select>
    version to
    <select name="change_to_version" form="change_version">{% include "select/languages.html" %}</select>
    <br>
    <form action="{{ url_for('edit') }}" method="post" id="change_version">
        <button class="btn btn-default" type="submit" name="change_project_versions" value="{{ project['id'] }}">Done</button>
    </form>

{% endblock %}
