{% extends "layout.html" %}

{% block title %}
    Edit Project: Language Versions
{% endblock %}

{% block main %}
    <div class="container align-center" id="edit-versions">
        <br>
        <h5><strong>Edit Version Language</strong></h5>
        <br>
        <!--
        Multiple level template inheritance in Jinja2?
        https://stackoverflow.com/questions/1976651/multiple-level-template-inheritance-in-jinja2
        -->
        <p>
            Change your
            <b>
                <select name="change_from_version" form="change_version" class="creamy">
                {% for version in project["versions"] %}
                    <option value="{{ version['id'] }}">
                        {{ version['language'].title() }}
                    </option>
                {% endfor %}
                </select>
            </b>
            version to
            <select name="change_to_version" form="change_version" class="creamy">
                {% include "select/languages.html" %}
            </select>.

        </p>
        <p>
            New version source: <input type="text" name="source" form="change_version" placeholder="Optional">
        </p>
        <form action="{{ url_for('edit') }}" method="post" id="change_version" class="pl-form">
            <button class="btn btn-warning" type="submit" name="change_project_versions"
                    value="{{ project['id'] }}">
                Done
            </button>
        </form>

    </div>

{% endblock %}
