{% extends "layout.html" %}

{% block title %}
    Edit Project: New Episode for Series
{% endblock %}

{% block main %}
    <div class="container">
        <br>
        <form action="{{ url_for('edit') }}" method="post" class="pl-form">
            <fieldset>
                <p class="align-center">
                    If it's a Series, what <strong>season</strong> and <strong>episode</strong> is this:
                </p>
                <div class="form-group">
                    <input autocomplete="off" name="new_season" class="form-control"
                           type="number" placeholder="Season" required />
                    <br>
                    <input autocomplete="off" name="new_episode" class="form-control"
                           type="number" placeholder="Episode" required />
                </div>
                <div class="form-group align-center">
                    <button class="btn btn-warning" type="submit" name="change_to_series"
                            value="{{ project['id'] }}">
                        Done
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}
