{% extends "layout.html" %}

{% block title %}
    Edit Project: Poster
{% endblock %}

{% block main %}

    <!-- enctype needed for file uploading http://flask.pocoo.org/docs/0.12/patterns/fileuploads/ -->
    <form action="{{ url_for('edit') }}" method="post" enctype="multipart/form-data">
        <fieldset>
            <div class="form-group">
                Upload a new <strong>poster</strong>:
                <br>
                <input autocomplete="off" class="form-control" name="new_poster"
                       placeholder="New Poster Image" type="file"/>
            </div>
            <div class="form-group">
                <button class="btn" type="submit" name="change_project_poster" value="{{ project['id'] }}">
                    Done
                </button>
                    </div>
        </fieldset>
    </form>
{% endblock %}
