{% extends "layout.html" %}

{% block title %}
    Add to Existing Project: Specify Project Versions
{% endblock %}

{% block main %}
    <br>
    <div class="container align-center creamy" id="new-project-versions">
        <!--
        Multiple level template inheritance in Jinja2?
        https://stackoverflow.com/questions/1976651/multiple-level-template-inheritance-in-jinja2
        -->
        <br>
        {% if session["existing_project"]["number_of_versions"] == 1 %}
            <p>We have detected <b>{{ session["existing_project"]["number_of_versions"] }}</b> version. Please specify it:</p>
        {% else %}
            <p>We have detected <b>{{ session["existing_project"]["number_of_versions"] }}</b> versions. Please specify them:</p>
        {% endif %}

        <table class="table table-bordered d-none d-sm-table">
            <tbody>
                {% for i in range(session["existing_project"]["number_of_versions"]) %}
                    <tr>
                        <td>
                            <strong>Version {{ (i + 1) }}:</strong>
                            <select name="{{ i }}" form="submit_language">
                                {% include "select/languages.html" %}
                            </select>
                        </td>
                        <td>
                            Source: <input type="text" name="source{{ i }}"
                                           form="submit_language" placeholder="Optional">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="d-block d-sm-none">
            {% for i in range(session["existing_project"]["number_of_versions"]) %}
                <div>
                    <p>
                        <strong>Version {{ (i + 1) }}:</strong>
                        <select name="{{ i }}" form="submit_language">
                            {% include "select/languages.html" %}
                        </select>
                    </p>
                    <p>
                        Source: <input type="text" name="source{{ i }}"
                                                     form="submit_language" placeholder="Optional">
                    </p>
                </div>
            {% endfor %}
        </div>

        <form action="{{ url_for('existing_project_versions') }}" method="post" id="submit_language" class="pl-form">
            <button class="btn btn-success" type="submit">Next</button>
        </form>
        <br>
    </div>
    <br>
{% endblock %}
