{% extends "layout.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block main %}
    <div class="align-left" id="faq">
        <br>
        <h3 class="align-center">Frequently Asked Questions</h3>
        <br>
        <div>
            <p>This page will fill out over time. For now, these are the only questions I can think of:</p>

            <ul>
                <li>
                    <p><strong>How to upload projects?</strong></p>
                    <p>For the moment, the website allows projects as Microsoft Excel files (extensions:
                    '.xls', '.xlsx', '.xlsm', '.xltx', '.xltm'). New projects must have 2+ versions (contributing
                    to existing projects only requires one version), each version being a different worksheet (in col. A),
                    and all the worksheets having the same number of lines (col. A should have the same number of rows in every
                    worksheet). The aligning (making sure that all the lines correspond to their translation, based
                    on the row number) is done manually by the author of the project.</p>
                </li>
                <li>
                    <p><strong>What about Copyright?</strong></p>
                    <p>The website is purely educational, nobody is looking to make any money with it - any resources
                    uploaded here are used for learning purposes. For the moment, I will pay for the web-hosting services myself.
                    Additinally, when uploading a project, there's a special field for indicating the source of each and
                    every version - this way we make sure to credit any work done by somebody else.</p>
                </li>
            </ul>
        <br>
    </div>
{% endblock %}
