{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}

    <!--
    How do I divide a page in three vertical sections?
    https://stackoverflow.com/questions/36662712/how-do-i-divide-a-page-in-three-vertical-sections
    -->

    <div class="container-fluid">

        <div class="leftindex">

            <h4>Quick Practice</h4>

            {% if possible_from_languages|length == 0 %}
                <p>No languages yet!</p>
            {% else %}
                <p>I'd like to translate from</p>
                <p>
                    <select name="from_language" form="quick_practice_form">
                        {% for language in possible_from_languages %}
                            <option value="{{ language }}">{{ language.title() }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>to</p>
                <p>
                    <select name="to_language" form="quick_practice_form">
                        {% for language in possible_to_languages %}
                            <option value="{{ language }}">{{ language.title() }}</option>
                        {% endfor %}
                    </select>
                </br>
                </p>
                <form action="{{ url_for('quick_practice') }}" method="post" id="quick_practice_form">
                    <p><button type="submit">Go!</button></p>
                </form>
            {% endif %}

        </div>

        <div class="middleindex"></div>

        <div class="rightindex">
            <div class="topindex">
                <h1>Recently updated projects</h1>

                    {% if new_projects|length == 0 %}
                        <br>
                        <p>No projects yet.</p>
                        <br>
                    {% else %}
                        <div class="row">
                            <div class="col-xs-3"><strong>Title</strong></div>
                            <div class="col-xs-3"><strong>Author</strong></div>
                            <div class="col-xs-1"><strong>Year</strong></div>
                            <div class="col-xs-1"><strong>Type</strong></div>
                            <div class="col-xs-4"><strong>Languages</strong></div>
                        </div>
                        <hr>

                        {% for project in new_projects %}
                            <a href="{{ url_for('view_project', id=project['id']) }}">
                            <div class="row">
                                <div class="col-xs-3"> {{ project["title"].title() }} </div>
                                <div class="col-xs-3"> {{ project["author"].title() }} </div>
                                <div class="col-xs-1"> {{ project["year"] }} </div>
                                <div class="col-xs-1"> {{ project["type"].title() }} </div>
                                <div class="col-xs-4"> {{ project["languages"].title() }} </div>
                            </div>
                            </a>
                        {% endfor %}

                    {% endif %}
            </div>

            <div class="bottomindex">
                <h1>Most popular projects</h1>

                {% if popular_versions|length == 0 %}
                    <br>
                    <p>No projects yet.</p>
                    <br>
                {% else %}
                    <div class="row">
                            <div class="col-xs-4"><strong>Title</strong></div>
                            <div class="col-xs-4"><strong>Author</strong></div>
                            <div class="col-xs-1"><strong>Year</strong></div>
                            <div class="col-xs-1"><strong>Language</strong></div>
                            <div class="col-xs-1"><strong>Type</strong></div>
                            <div class="col-xs-1"><strong>Rating</strong></div>
                    </div>
                    <hr>

                    {% for version in popular_versions %}
                        <a href="{{ url_for('view_project', id=version['project_id']) }}">
                        <div class="row">

                            <div class="col-xs-4"> {{ version["title"].title() }} </div>
                            <div class="col-xs-4"> {{ version["author"].title() }} </div>
                            <div class="col-xs-1"> {{ version["year"] }} </div>
                            <div class="col-xs-1"> {{ version["language"].title() }} </div>
                            <div class="col-xs-1"> {{ version["type"].title() }} </div>
                            <div class="col-xs-1"> {{ version["rating"] }} </div>

                        </div>
                        </a>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
