{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}

    <!--
    How do I divide a page in three vertical sections?
    https://stackoverflow.com/questions/36662712/how-do-i-divide-a-page-in-three-vertical-sections
    -->

    <div class="container">

        <div class="leftpane">

            <a href="#" class="quickTestButton">Quick Test</a>

        </div>

        <div class="middlepane">
            <h1>Newest projects</h1>

                {% if new_projects|length == 0 %}
                    <br>
                    <p>No projects yet.</p>
                    <br>
                {% else %}
                    <p>whatever</p>
                    <!--
                    <div class="row">
                        <div class="col-xs-3"><strong>Symbol</strong></div>
                        <div class="col-xs-3"><strong>Shares</strong></div>
                        <div class="col-xs-3"><strong>Price</strong></div>
                        <div class="col-xs-3"><strong>Stock Value</strong></div>
                    </div>
                    <hr>

                    {% for stock in stocks %}
                        <div class="row">
                            <div class="col-xs-3"> {{ stock["stock"] }} </div>
                            <div class="col-xs-3"> {{ stock["shares"] }} </div>
                            <div class="col-xs-3"> {{ "${:,.2f}".format(stock["price"]) }} </div>
                            <div class="col-xs-3"> {{ "${:,.2f}".format(stock["price"] * stock["shares"]) }} </div>
                        </div>
                    {% endfor %}
                    -->
                {% endif %}
        </div>

        <div class="rightpane">
            <h1>Most popular projects</h1>

            {% if popular_projects|length == 0 %}
                <br>
                <p>No projects yet.</p>
                <br>
            {% else %}
                <p>whatever</p>
                <!--
                <div class="row">
                    <div class="col-xs-3"><strong>Symbol</strong></div>
                    <div class="col-xs-3"><strong>Shares</strong></div>
                    <div class="col-xs-3"><strong>Price</strong></div>
                    <div class="col-xs-3"><strong>Stock Value</strong></div>
                </div>
                <hr>

                {% for stock in stocks %}
                    <div class="row">
                        <div class="col-xs-3"> {{ stock["stock"] }} </div>
                        <div class="col-xs-3"> {{ stock["shares"] }} </div>
                        <div class="col-xs-3"> {{ "${:,.2f}".format(stock["price"]) }} </div>
                        <div class="col-xs-3"> {{ "${:,.2f}".format(stock["price"] * stock["shares"]) }} </div>
                    </div>
                {% endfor %}
                -->
            {% endif %}
        </div>
    </div>

{% endblock %}
