{% extends "layout.html" %}

{% block title %}
    Upload New Project: Select Type
{% endblock %}

{% block main %}

    <div class="container align-center">
        <br><br>
        <h5><strong>New Project</strong></h5>
        <br>
        <!--
        Multiple level template inheritance in Jinja2?
        https://stackoverflow.com/questions/1976651/multiple-level-template-inheritance-in-jinja2
        -->
        <p>
            You're sure this project doesn't <a href="{{ url_for('browse') }}">exist already</a>? Let's get started then! 
        </p>
        <p>
            What <b>type</b> of project would you like to upload:
            </br></br>
            <select autofocus name="new_project_type" form="submit_type">{% include "select/types.html" %}</select>
        </p>

        <form action="{{ url_for('new_project_type') }}" method="post" id="submit_type" class="pl-form">
            <button class="btn btn-success" type="submit">Next</button>
        </form>
    </div>

{% endblock %}
