{% extends "layout.html" %}

{% block title %}
    Upload New Project: Input Project Metadata
{% endblock %}

{% block main %}
    <br>
    <div class="container align-center creamy">
        <br>
        <p>Uploading a <strong>{{ session["new_project"]["type"].title() }}</strong>. Excellent!</p>
        <!-- enctype needed for file uploading http://flask.pocoo.org/docs/0.12/patterns/fileuploads/ -->
        <form action="{{ url_for('new_project_metadata') }}" method="post"
              enctype="multipart/form-data" id="upload_new" class="pl-form">
            <fieldset>
                <div class="form-group">
                    First, please input the <strong>title</strong>:
                    <br/>
                    <input autofocus autocomplete="off" name="new_project_title" class="form-control"
                           id="new_project_title" type="text"/ list="titles" placeholder="Title"/>
                    <datalist id="titles">{% include "select/titles.html" %}</datalist>
                </div>

            {% if session["new_project"]["type"] == "series" %}
                    <div class="form-group">
                        What <strong>season</strong> and <strong>episode</strong>:
                        <br>
                        <input autocomplete="off" name="new_project_season" class="form-control"
                               type="number" placeholder="Season"/>
                        <input autocomplete="off" name="new_project_episode" class="form-control"
                               type="number" placeholder="Episode"/>
                    </div>
            {% endif %}

                <div class="form-group">
                    Next, the <strong>author</strong>:
                    <br>
                    <input autocomplete="off" name="new_project_author" class="form-control"
                           id="new_project_author" type="text"/ list="authors" placeholder="Author"/>
                    <datalist id="authors">{% include "select/authors.html" %}</datalist>
                </div>
                <div class="form-group">
                    Don't forget about the <strong>year</strong>:
                    <br>
                    <input autocomplete="off" name="new_project_year" class="form-control"
                           type="number" placeholder="Year"/>
                </div>
                <div class="form-group">
                    Finally, select the <strong>file</strong> itself:
                    <br>
                    <input autocomplete="off" class="form-control" name="file"
                           placeholder="File" type="file"/>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit">
                        Upload
                    </button>
                </div>

            </fieldset>
        </form>
    </div>


{% endblock %}
