{% extends "layout.html" %}

{% block title %}
    PRACTICE:
    {{ project["title"].title() }}
    {% if project["type"].lower() == "tv series" %}
        [Season: {{ project["season"] }} Episode: {{ project["episode"] }}]
    {% endif %}
    - {{ project["author"].title() }} -
    ({{ project["year"] }})
{% endblock %}

{% block main %}

    <!--
    How do I divide a page in three vertical sections?
    https://stackoverflow.com/questions/36662712/how-do-i-divide-a-page-in-three-vertical-sections
    -->

    <div class="container">

        <!-- https://www.thoughtco.com/center-table-with-css-3469875 -->
        <table style="margin: auto;">
            <tr>
                <th>{{ project["from_language"].upper() }} </th>
                <td id="from_line">{{ from_lines[0] }}</td>
            </tr>
            <tr>
                <th>PRACTICE </th>
                <td>
                    <!--
                    javascript prevent form submission on submit
                    https://stackoverflow.com/questions/8664486/javascript-code-to-stop-form-submission
                    -->
                    <form action="#" onsubmit="event.preventDefault(); removeBlur();">
                        <input type="text" style="width: 100%" autofocus id="practice_line">
                    </form>
                </td>
            </tr>
            <tr>
                <th>{{ project["to_language"].upper() }} </th>
                <td class="blurry" id="to_line">{{ to_lines[0] }}</td>
            </tr>
        </table>
        </br>
        <form action="#" onsubmit="event.preventDefault(); displayNextLine({{ from_lines }}, {{ to_lines }}); ">
            <button class="btn btn-default" type="submit" id="next_line" value="0">Next</button>
        </form>

        <!--
        <div id="from_line">
            <h3>{{ project["from_language"].upper() }}: </h3>{{ from_lines[0] }}
        </div>
        <div id="practice_line">
            <h3><input type="text" style="width: 100%" id="{{ from_ids[i] }}" autofocus></h3>
        </div>
        <div id="to_line">
            <h3>{{ project["to_language"].upper() }}: </h3><span class="blurry">{{ to_lines[0] }}</span>
        </div>
        -->
        <!--
        <table style="width:100%">
            <tr>
                <th style="width:33%"><span style="text-align: centre;">{{ project["from_language"].upper() }}</span></th>
                <th style="width:33%">Practice</th>
                <th style="width:33%">{{ project["to_language"].upper() }}</th>
            </tr>
            {% for i in range(size) %}
                <tr>
                    <td>{{ from_lines[i] }}</td>
                    <td>
                        <form action="#" onsubmit="event.preventDefault(); removeBlur({{ i }});">
                            <input type="text" style="width: 100%" id="{{ from_ids[i] }}" autofocus>
                        </form>
                    </td>

                    <td id="{{ to_ids[i] }}" class="blurry">
                        {{ to_lines[i] }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        -->

    </div>

{% endblock %}
