{% extends "layout.html" %}

{% block title %}
    Download Project
{% endblock %}

{% block main %}
    <br>
    <div class="container align-center creamy view">
        <br>
        <strong><h4>Download Project</h4></strong>
        <br>

        <table class="table table-bordered d-none d-sm-table">
            <tbody>
                <tr>
                    <td>
                        <strong>Type: </strong>{{ project["type"].title() }}
                    </td>
                    <td>
                        <strong>Title: </strong>
                        {{ project["title"].title() }} by {{ project["author"].title() }} ({{ project["year"] }})
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename=project['poster']) }}" alt="poster">
                    </td>
                    <td class="align-left">
                        <p>Please select the versions you'd like to download:</p>
                        {% for version in project["versions"] %}
                            <input type="checkbox" name="{{ version['id'] }}" value="{{ version['id'] }}" form="project_download">
                            {{ version["language"].title() }} (by <b>{{ version["user"] }}</b> - {{ version["rating"] }})<br>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-block d-sm-none">
            <p>
                <strong>Type: </strong> {{ project["type"].title() }}
            </p>
            <hr>
            <p>
                <strong>Title: </strong>
                {{ project["title"].title() }} by {{ project["author"].title() }} ({{ project["year"] }})
            </p>
            <hr>
            <p>
                <img src="{{ url_for('static', filename=project['poster']) }}" alt="Project poster">
            </p>
            <hr>
            <p class="align-left">
                <p>Please select the versions you'd like to download:</p>
                {% for version in project["versions"] %}
                    <input type="checkbox" name="{{ version['id'] }}" value="{{ version['id'] }}" form="project_download">
                    {{ version["language"].title() }} (by <b>{{ version["user"] }}</b> - {{ version["rating"] }})<br>
                {% endfor %}
            </p>
        </div>
        <form action="{{ url_for('project_download') }}" method="post" id="project_download" class="pl-form">
            <button class="btn btn-success" type="submit" name="download_project" value="{{ project['id'] }}">
                Download
            </button>
        </form>
        <br><br>
    </div>
{% endblock %}