1	1	Citizen Kane	Welles, Orson	1941	USA	119
2	2	Vertigo	Hitchcock, Alfred	1958	USA	128
3	3	2001: A Space Odyssey	Kubrick, Stanley	1968	UK	139
4	5	Rules of the Game, The	Renoir, Jean	1939	France	113
5	4	Tokyo Story	Ozu, Yasujiro	1953	Japan	134
6	7	8 1/2	Fellini, Federico	1963	Italy	135
7	6	Godfather, The	Coppola, Francis Ford	1972	USA	175
8	8	Sunrise	Murnau, F.W.	1927	USA	110
9	10	Searchers, The	Ford, John	1956	USA	119
10	9	Seven Samurai	Kurosawa, Akira	1954	Japan	200
11	11	Apocalypse Now	Coppola, Francis Ford	1979	USA	150
12	16	Singin' in the Rain	Donen & Kelly	1952	USA	102
13	13	Battleship Potemkin	Eisenstein, Sergei	1925	USSR	71
14	12	Bicycle Thieves	De Sica, Vittorio	1948	Italy	90
15	15	Taxi Driver	Scorsese, Martin	1976	USA	113
16	17	Passion of Joan of Arc, The	Dreyer, Carl Theodor	1928	France	110
17	14	Breathless	Godard, Jean-Luc	1960	France	89
18	19	Atalante, L'	Vigo, Jean	1934	France	89
19	21	Persona	Bergman, Ingmar	1966	Sweden	81
20	18	Man with a Movie Camera	Vertov, Dziga	1929	USSR	80
21	20	Rashomon	Kurosawa, Akira	1950	Japan	88
22	22	Godfather Part II, The	Coppola, Francis Ford	1974	USA	200
23	23	Raging Bull	Scorsese, Martin	1980	USA	128
24	26	Andrei Rublev	Tarkovsky, Andrei	1966	USSR	185
25	24	400 Blows, The	Truffaut, François	1959	France	99
26	27	Psycho	Hitchcock, Alfred	1960	USA	109
27	29	City Lights	Chaplin, Charles	1931	USA	86
28	35	Touch of Evil	Welles, Orson	1958	USA	108
29	28	Mirror, The	Tarkovsky, Andrei	1975	USSR	108
30	30	Dolce vita, La	Fellini, Federico	1960	Italy	175
31	32	Some Like it Hot	Wilder, Billy	1959	USA	119
32	25	Lawrence of Arabia	Lean, David	1962	UK	216
33	36	Ordet	Dreyer, Carl Theodor	1955	Denmark	125
34	40	Au hasard Balthazar	Bresson, Robert	1966	France	95
35	37	Casablanca	Curtiz, Michael	1942	USA	102
36	31	Avventura, L'	Antonioni, Michelangelo	1960	Italy	145
37	38	General, The	Keaton & Bruckman	1926	USA	74
38	39	Contempt	Godard, Jean-Luc	1963	France	103
39	33	Sunset Blvd.	Wilder, Billy	1950	USA	110
40	34	Blade Runner	Scott, Ridley	1982	USA	118
41	41	Rear Window	Hitchcock, Alfred	1954	USA	112
42	45	Grande illusion, La	Renoir, Jean	1937	France	117
43	44	Night of the Hunter, The	Laughton, Charles	1955	USA	93
44	51	Third Man, The	Reed, Carol	1949	UK	104
45	50	In the Mood for Love	Wong Kar-wai	2000	Hong Kong	97
46	53	Fanny and Alexander	Bergman, Ingmar	1982	Sweden	189
47	58	Ugetsu monogatari	Mizoguchi, Kenji	1953	Japan	96
48	42	Modern Times	Chaplin, Charles	1936	USA	89
49	46	Chinatown	Polanski, Roman	1974	USA	131
50	48	Playtime	Tati, Jacques	1967	France	108
51	49	Barry Lyndon	Kubrick, Stanley	1975	UK	183
52	47	M	Lang, Fritz	1931	Germany	99
53	52	Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb	Kubrick, Stanley	1964	UK	93
54	43	Metropolis	Lang, Fritz	1927	Germany	153
55	60	Wild Strawberries	Bergman, Ingmar	1957	Sweden	90
56	55	Apartment, The	Wilder, Billy	1960	USA	125
57	59	Pather Panchali	Ray, Satyajit	1955	India	112
58	54	Enfants du paradis, Les	Carne, Marcel	1945	France	195
59	57	Stalker	Tarkovsky, Andrei	1979	USSR	160
60	64	North by Northwest	Hitchcock, Alfred	1959	USA	136
61	56	Shoah	Lanzmann, Claude	1985	France	566
62	68	Rio Bravo	Hawks, Howard	1959	USA	141
63	90	Magnificent Ambersons, The	Welles, Orson	1942	USA	88
64	66	Mulholland Dr.	Lynch, David	2001	France	147
65	67	Wild Bunch, The	Peckinpah, Sam	1969	USA	144
66	61	Battle of Algiers, The	Pontecorvo, Gillo	1966	Italy	123
67	73	Pierrot le fou	Godard, Jean-Luc	1965	France	110
68	62	Once Upon a Time in the West	Leone, Sergio	1968	Italy	165
69	70	Gold Rush, The	Chaplin, Charles	1925	USA	82
70	72	Seventh Seal, The	Bergman, Ingmar	1957	Sweden	96
71	82	Voyage in Italy	Rossellini, Roberto	1953	Italy	97
72	71	Amarcord	Fellini, Federico	1973	Italy	127
73	63	Strada, La	Fellini, Federico	1954	Italy	115
74	65	Late Spring	Ozu, Yasujiro	1949	Japan	108
75	69	Leopard, The	Visconti, Luchino	1963	Italy	205
76	81	Pickpocket	Bresson, Robert	1959	France	75
77	75	Blue Velvet	Lynch, David	1986	USA	120
78	74	GoodFellas	Scorsese, Martin	1990	USA	146
79	78	Conformist, The	Bertolucci, Bernardo	1970	Italy	107
80	88	Pulp Fiction	Tarantino, Quentin	1994	USA	154
81	79	Viridiana	Bunuel, Luis	1961	Spain	90
82	86	Jules et Jim	Truffaut, Francois	1962	France	104
83	77	Gertrud	Dreyer, Carl Theodor	1964	Denmark	116
84	80	Nashville	Altman, Robert	1975	USA	159
85	85	It's a Wonderful Life	Capra, Frank	1946	USA	129
86	76	Clockwork Orange, A	Kubrick, Stanley	1971	UK	137
87	91	Man Escaped, A	Bresson, Robert	1956	France	102
88	100	Greed	von Stroheim, Erich	1924	USA	140
89	99	Man Who Shot Liberty Valance, The	Ford, John	1962	USA	119
90	84	Close-Up	Kiarostami, Abbas	1990	Iran	98
91	83	Annie Hall	Allen, Woody	1977	USA	94
92	94	Aguirre: The Wrath of God	Herzog, Werner	1972	West Germany	94
93	93	Sansho the Bailiff	Mizoguchi, Kenji	1954	Japan	125
94	87	Last Year at Marienbad	Resnais, Alain	1961	France	94
95	92	Jaws	Spielberg, Steven	1975	USA	124
96	104	Shining, The	Kubrick, Stanley	1980	USA	142
97	89	Sans soleil	Marker, Chris	1983	France	100
98	95	Jeanne Dielman, 23 Quai du Commerce, 1080 Bruxelles	Akerman, Chantal	1975	Belgium	201
99	102	Intolerance	Griffith, D.W.	1916	USA	178
100	109	Blowup	Antonioni, Michelangelo	1966	Italy	111
101	97	Satantango	Tarr, Bela	1994	Hungary	450
102	114	Mother and the Whore, The	Eustache, Jean	1973	France	210
103	107	To Be or Not to Be	Lubitsch, Ernst	1942	USA	99
104	101	Wizard of Oz, The	Fleming, Victor	1939	USA	101
105	96	Jetee, La	Marker, Chris	1962	France	27
106	103	Gone with the Wind	Fleming, Victor	1939	USA	222
107	106	Eclisse, L'	Antonioni, Michelangelo	1962	Italy	126
108	115	Woman Under the Influence, A	Cassavetes, John	1974	USA	155
109	116	Once Upon a Time in America	Leone, Sergio	1984	Italy	229
110	110	Manhattan	Allen, Woody	1979	USA	96
111	117	Sherlock Jr.	Keaton, Buster	1924	USA	45
112	123	Ikiru	Kurosawa, Akira	1952	Japan	143
113	122	Letter from an Unknown Woman	Ophuls, Max	1948	USA	90
114	105	Star Wars	Lucas, George	1977	USA	121
115	128	Madame de...	Ophuls, Max	1953	France	105
116	112	All About Eve	Mankiewicz, Joseph L.	1950	USA	138
117	108	Hiroshima mon amour	Resnais, Alain	1959	France	91
118	120	Age d'or, L'	Bunuel, Luis	1930	France	63
119	139	One Flew Over the Cuckoo's Nest	Forman, Milos	1975	USA	133
120	141	My Darling Clementine	Ford, John	1946	USA	97
121	118	Notorious	Hitchcock, Alfred	1946	USA	101
122	113	Bringing Up Baby	Hawks, Howard	1938	USA	102
123	98	Brighter Summer Day, A	Yang, Edward	1991	Taiwan	237
124	119	Olvidados, Los	Bunuel, Luis	1950	Mexico	88
125	125	Nosferatu	Murnau, F.W.	1922	Germany	84
126	137	Don't Look Now	Roeg, Nicolas	1973	UK	110
127	129	Badlands	Malick, Terrence	1973	USA	95
128	127	Vivre sa vie	Godard, Jean-Luc	1962	France	85
129	124	Spirit of the Beehive, The	Erice, Victor	1973	Spain	95
130	150	Partie de campagne	Renoir, Jean	1936	France	40
131	132	Yi yi	Yang, Edward	2000	Taiwan	173
132	134	Rome, Open City	Rossellini, Roberto	1945	Italy	105
133	130	Matter of Life and Death, A	Powell & Pressburger	1946	UK	104
134	126	E.T. The Extra-Terrestrial	Spielberg, Steven	1982	USA	115
135	136	Chien andalou, Un	Bunuel, Luis	1928	France	16
136	121	Lady Eve, The	Sturges, Preston	1941	USA	94
137	111	Histoire(s) du cinema	Godard, Jean-Luc	1998	France	265
138	133	Ali: Fear Eats the Soul	Fassbinder, Rainer Werner	1974	West Germany	94
139	148	Trouble in Paradise	Lubitsch, Ernst	1932	USA	83
140	140	Days of Heaven	Malick, Terrence	1978	USA	95
141	138	Do the Right Thing	Lee, Spike	1989	USA	120
142	153	Stagecoach	Ford, John	1939	USA	96
143	135	Exterminating Angel, The	Bunuel, Luis	1962	Mexico	95
144	131	Alien	Scott, Ridley	1979	USA	117
145	147	Double Indemnity	Wilder, Billy	1944	USA	106
146	155	His Girl Friday	Hawks, Howard	1940	USA	92
147	143	Come and See	Klimov, Elem	1985	USSR	136
148	164	Conversation, The	Coppola, Francis Ford	1974	USA	113
149	152	Brief Encounter	Lean, David	1945	UK	85
150	156	On the Waterfront	Kazan, Elia	1954	USA	108
151	161	Gospel According to St. Matthew, The	Pasolini, Pier Paolo	1964	Italy	135
152	158	Discreet Charm of the Bourgeoisie, The	Bunuel, Luis	1972	France	100
153	205	Chimes at Midnight	Welles, Orson	1965	France	115
154	146	Rosemary's Baby	Polanski, Roman	1968	USA	136
155	157	Beau travail	Denis, Claire	1999	France	92
156	154	King Kong	Cooper & Schoedsack	1933	USA	103
157	162	Red Shoes, The	Powell & Pressburger	1948	UK	133
158	184	River, The	Renoir, Jean	1951	France	99
159	191	Cries and Whispers	Bergman, Ingmar	1972	Sweden	106
160	144	Good, the Bad and the Ugly, The	Leone, Sergio	1966	Italy	161
161	145	Duck Soup	McCarey, Leo	1933	USA	70
162	171	Passenger, The	Antonioni, Michelangelo	1975	Italy	119
163	149	Napoleon	Gance, Abel	1927	France	235
164	151	Life and Death of Colonel Blimp, The	Powell & Pressburger	1943	UK	163
165	172	Argent, L'	Bresson, Robert	1983	France	90
166	166	Grapes of Wrath, The	Ford, John	1940	USA	129
167	174	Mouchette	Bresson, Robert	1967	France	80
168	177	Imitation of Life	Sirk, Douglas	1959	USA	124
169	168	Deer Hunter, The	Cimino, Michael	1978	USA	183
170	186	Black Narcissus	Powell & Pressburger	1947	UK	99
171	187	Dekalog	Kieslowski, Krzysztof	1988	Poland	550
172	165	Travelling Players, The	Angelopoulos, Theo	1975	Greece	230
173	159	Umbrellas of Cherbourg, The	Demy, Jacques	1964	France	91
174	142	Spring in a Small Town	Fei Mu	1948	China	85
175	173	Earth	Dovzhenko, Alexander	1930	USSR	75
176	181	Brazil	Gilliam, Terry	1985	UK	131
177	202	Celine and Julie Go Boating	Rivette, Jacques	1974	France	192
178	176	Performance	Roeg & Cammell	1970	UK	105
179	170	Last Laugh, The	Murnau, F.W.	1924	Germany	77
180	189	Rocco and His Brothers	Visconti, Luchino	1960	Italy	180
181	182	Ran	Kurosawa, Akira	1985	France	161
182	183	Out of the Past	Tourneur, Jacques	1947	USA	97
183	167	Great Dictator, The	Chaplin, Charles	1940	USA	128
184	398	There Will Be Blood	Anderson, Paul Thomas	2007	USA	158
185	185	Best Years of Our Lives, The	Wyler, William	1946	USA	172
186	160	Night and Fog	Resnais, Alain	1955	France	32
187	206	McCabe & Mrs. Miller	Altman, Robert	1971	USA	121
188	180	Sweet Smell of Success	Mackendrick, Alexander	1957	USA	96
189	188	Umberto D.	De Sica, Vittorio	1952	Italy	89
190	226	Death in Venice	Visconti, Luchino	1971	Italy	130
191	193	Samourai, Le	Melville, Jean-Pierre	1967	France	95
192	248	Quiet Man, The	Ford, John	1952	USA	129
193	220	Red River	Hawks, Howard	1948	USA	133
194	197	Paisan	Rossellini, Roberto	1946	Italy	120
195	212	Kes	Loach, Ken	1969	UK	113
196	178	Close Encounters of the Third Kind	Spielberg, Steven	1977	USA	135
197	199	Belle de jour	Bunuel, Luis	1967	France	100
198	175	Salo, or the 120 Days of Sodom	Pasolini, Pier Paolo	1975	Italy	117
199	219	Breaking the Waves	von Trier, Lars	1996	Denmark	156
200	194	Birds, The	Hitchcock, Alfred	1963	USA	120
201	169	Nanook of the North	Flaherty, Robert	1922	USA	79
202	198	Nights of Cabiria	Fellini, Federico	1957	Italy	110
203	163	City of Sadness, A	Hou Hsiao-hsien	1989	Taiwan	157
204	244	Two or Three Things I Know About Her	Godard, Jean-Luc	1966	France	87
205	222	Wavelength	Snow, Michael	1967	Canada	45
206	203	Ashes and Diamonds	Wajda, Andrzej	1958	Poland	96
207	313	Cache	Haneke, Michael	2005	France	117
208	179	Vampyr	Dreyer, Carl Theodor	1932	Germany	73
209	216	Spirited Away	Miyazaki, Hayao	2001	Japan	124
210	223	Thin Red Line, The	Malick, Terrence	1998	USA	170
211	233	Piano, The	Campion, Jane	1993	New Zealand	121
212	190	Cabinet of Dr. Caligari, The	Wiene, Robert	1920	Germany	69
213	196	Meet Me in St. Louis	Minnelli, Vincente	1944	USA	113
214	243	Schindler's List	Spielberg, Steven	1993	USA	195
215	225	Kind Hearts and Coronets	Hamer, Robert	1949	UK	104
216	211	Sullivan's Travels	Sturges, Preston	1941	USA	91
217	208	Fargo	Coen Brothers	1996	USA	98
218	228	Ivan the Terrible, Part 2	Eisenstein, Sergei	1946	USSR	88
219	192	Chungking Express	Wong Kar-wai	1994	Hong Kong	104
220	227	Texas Chainsaw Massacre, The	Hooper, Tobe	1974	USA	83
221	247	Crowd, The	Vidor, King	1928	USA	104
222	195	Diary of a Country Priest	Bresson, Robert	1951	France	120
223	207	Colour of Pomegranate, The	Parajanov, Sergei	1969	USSR	73
224	249	Only Angels Have Wings	Hawks, Howard	1939	USA	121
225	200	Raiders of the Lost Ark	Spielberg, Steven	1981	USA	115
226	235	Graduate, The	Nichols, Mike	1967	USA	105
227	218	Mean Streets	Scorsese, Martin	1973	USA	110
228	281	Life of Oharu, The	Mizoguchi, Kenji	1952	Japan	146
229	232	Exorcist, The	Friedkin, William	1973	USA	122
230	267	Tabu	Murnau, F.W.	1931	USA	82
231	256	Germany, Year Zero	Rossellini, Roberto	1947	Italy	74
232	209	Bonnie and Clyde	Penn, Arthur	1967	USA	111
233	224	Treasure of the Sierra Madre, The	Huston, John	1948	USA	124
234	204	Solaris	Tarkovsky, Andrei	1972	USSR	165
235	405	Tree of Life, The	Malick, Terrence	2011	USA	139
236	210	Wings of Desire	Wenders, Wim	1987	West Germany	130
237	213	Band Wagon, The	Minnelli, Vincente	1953	USA	112
238	272	Shop Around the Corner, The	Lubitsch, Ernst	1940	USA	97
239	221	Meshes of the Afternoon	Deren & Hammid	1943	USA	15
240	270	Johnny Guitar	Ray, Nicholas	1954	USA	110
241	448	Tropical Malady	Weerasethakul, Apichatpong	2004	Thailand	118
242	252	Notte, La	Antonioni, Michelangelo	1961	Italy	120
243	201	Thin Blue Line, The	Morris, Errol	1988	USA	96
244	283	Unforgiven	Eastwood, Clint	1992	USA	127
245	245	Groundhog Day	Ramis, Harold	1993	USA	103
246	277	My Night at Maud's	Rohmer, Eric	1969	France	105
247	282	Three Colours: Red	Kieslowski, Krzysztof	1994	France	99
248	254	Zero for Conduct	Vigo, Jean	1933	France	41
249	238	Paris, Texas	Wenders, Wim	1984	USA	150
250	231	Night of the Living Dead	Romero, George A.	1968	USA	96
251	382	Eternal Sunshine of the Spotless Mind	Gondry, Michel	2004	USA	108
252	229	Crimes and Misdemeanors	Allen, Woody	1989	USA	104
253	258	Ivan the Terrible, Part 1	Eisenstein, Sergei	1944	USSR	96
254	236	My Neighbour Totoro	Miyazaki, Hayao	1988	Japan	86
255	230	Three Colours: Blue	Kieslowski, Krzysztof	1993	France	100
256	251	Floating Clouds	Naruse, Mikio	1955	Japan	123
257	214	Paths of Glory	Kubrick, Stanley	1957	USA	86
258	293	Distant Voices, Still Lives	Davies, Terence	1988	UK	85
259	297	Magnolia	Anderson, Paul Thomas	1999	USA	188
260	284	Story of the Last Chrysanthemums, The	Mizoguchi, Kenji	1939	Japan	148
261	264	Broken Blossoms	Griffith, D.W.	1919	USA	90
262	259	Pandora's Box	Pabst, G.W.	1929	Germany	133
263	266	Verdugo, El	Garcia Berlanga, Luis	1963	Spain	90
264	215	Big Lebowski, The	Coen Brothers	1998	USA	113
265	265	Freaks	Browning, Tod	1932	USA	64
266	273	Throne of Blood	Kurosawa, Akira	1957	Japan	108
267	250	Belle et la bete, La	Cocteau, Jean	1946	France	95
268	242	Birth of a Nation, The	Griffith, D.W.	1915	USA	187
269	234	F for Fake	Welles, Orson	1973	France	85
270	343	Week-End	Godard, Jean-Luc	1967	France	103
271	275	In a Lonely Place	Ray, Nicholas	1950	USA	91
272	239	Music Room, The	Ray, Satyajit	1958	India	95
273	261	Black God, White Devil	Rocha, Glauber	1964	Brazil	110
274	306	Monsieur Verdoux	Chaplin, Charles	1947	USA	123
275	217	Faces	Cassavetes, John	1968	USA	130
276	263	Maltese Falcon, The	Huston, John	1941	USA	100
277	240	Memories of Underdevelopment	Gutierrez Alea, Tomas	1968	Cuba	97
278	271	Wages of Fear, The	Clouzot, Henri-Georges	1953	France	105
279	257	World of Apu, The	Ray, Satyajit	1959	India	103
280	246	Eraserhead	Lynch, David	1977	USA	85
281	268	Day of Wrath	Dreyer, Carl Theodor	1943	Denmark	110
282	278	Big Sleep, The	Hawks, Howard	1946	USA	114
283	241	Underground	Kusturica, Emir	1995	France	192
284	287	Love Streams	Cassavetes, John	1984	USA	141
285	260	Husbands	Cassavetes, John	1970	USA	138
286	307	Canterbury Tale, A	Powell & Pressburger	1944	UK	124
287	237	Autumn Afternoon, An	Ozu, Yasujiro	1962	Japan	115
288	255	Touki Bouki	Mambety, Djibril Diop	1973	Senegal	85
289	295	Kings of the Road	Wenders, Wim	1976	West Germany	175
290	302	Orpheus	Cocteau, Jean	1950	France	95
291	290	Philadelphia Story, The	Cukor, George	1940	USA	112
292	274	Cinema Paradiso	Tornatore, Giuseppe	1988	Italy	123
293	303	Listen to Britain	Jennings, Humphrey	1942	UK	20
294	276	Videodrome	Cronenberg, David	1983	Canada	90
295	294	Berlin Alexanderplatz	Fassbinder, Rainer Werner	1980	West Germany	894
296	325	Puppetmaster, The	Hou Hsiao-hsien	1993	Taiwan	141
297	289	Last Picture Show, The	Bogdanovich, Peter	1971	USA	118
298	288	Reservoir Dogs	Tarantino, Quentin	1992	USA	99
299	269	Harold and Maude	Ashby, Hal	1971	USA	90
300	262	To Kill a Mockingbird	Mulligan, Robert	1962	USA	129
301	305	Peeping Tom	Powell, Michael	1960	UK	109
302	253	Empire Strikes Back, The	Kershner, Irvin	1980	USA	124
303	353	Mr. Hulot's Holiday	Tati, Jacques	1953	France	86
304	301	Sacrifice, The	Tarkovsky, Andrei	1986	France	145
305	362	All About My Mother	Almodovar, Pedro	1999	Spain	101
306	356	Bride of Frankenstein	Whale, James	1935	USA	75
307	285	In the Realm of the Senses	Oshima, Nagisa	1976	Japan	109
308	326	Lola Montes	Ophuls, Max	1955	France	116
309	369	Amadeus	Forman, Milos	1984	USA	158
310	355	Crime of Monsieur Lange, The	Renoir, Jean	1936	France	90
311	300	Killer of Sheep	Burnett, Charles	1977	USA	83
312	335	Marnie	Hitchcock, Alfred	1964	USA	129
313	316	Matrix, The	Wachowskis	1999	USA	136
314	344	Thing, The	Carpenter, John	1982	USA	108
315	367	Cabaret	Fosse, Bob	1972	USA	128
316	308	October	Eisenstein & Aleksandrov	1928	USSR	103
317	377	Killing of a Chinese Bookie, The	Cassavetes, John	1976	USA	109
318	322	Dawn of the Dead	Romero, George A.	1978	USA	126
319	280	Werckmeister Harmonies	Tarr, Bela	2000	Hungary	145
320	341	El	Bunuel, Luis	1953	Mexico	91
321	331	Written on the Wind	Sirk, Douglas	1956	USA	99
322	310	Time to Live and the Time to Die, The	Hou Hsiao-hsien	1985	Taiwan	137
323	292	It Happened One Night	Capra, Frank	1934	USA	105
324	299	Midnight Cowboy	Schlesinger, John	1969	USA	113
325	315	I Am Cuba	Kalatozov, Mikhail	1964	USSR	141
326	342	Kid, The	Chaplin, Charles	1921	USA	60
327	321	Dog Day Afternoon	Lumet, Sidney	1975	USA	125
328	309	Red Desert	Antonioni, Michelangelo	1964	Italy	118
329	279	Touch of Zen, A	Hu, King	1971	Taiwan	200
330	350	Make Way for Tomorrow	McCarey, Leo	1937	USA	92
331	437	Eyes Wide Shut	Kubrick, Stanley	1999	USA	159
332	291	West Side Story	Wise & Robbins	1961	USA	151
333	349	Eyes Without a Face	Franju, Georges	1960	France	88
334	340	Where is the Friend's Home?	Kiarostami, Abbas	1987	Iran	85
335	472	City of God	Meirelles & Lund	2002	Brazil	129
336	298	Back to the Future	Zemeckis, Robert	1985	USA	116
337	401	Happy Together	Wong Kar-wai	1997	Hong Kong	97
338	312	How Green Was My Valley	Ford, John	1941	USA	118
339	364	Through the Olive Trees	Kiarostami, Abbas	1994	Iran	103
340	337	Snow White and the Seven Dwarfs	Hand, David	1937	USA	83
341	391	Shoot the Piano Player	Truffaut, Francois	1960	France	92
342	420	Tie Xi Qu: West of the Tracks	Wang Bing	2003	China	551
343	366	IfÉ.	Anderson, Lindsay	1968	UK	111
344	359	Kiss Me Deadly	Aldrich, Robert	1955	USA	106
345	378	Lost Highway	Lynch, David	1997	USA	134
346	324	Days of Being Wild	Wong Kar-wai	1990	Hong Kong	94
347	314	Russian Ark	Sokurov, Aleksandr	2002	Russia	96
348	328	I Was Born, But...	Ozu, Yasujiro	1932	Japan	100
349	311	Don't Look Back	Pennebaker, D.A.	1967	USA	96
350	352	Green Ray, The	Rohmer, Eric	1986	France	96
351	286	Voyage dans la lune, Le	Melies, Georges	1902	France	14
352	404	Salvatore Giuliano	Rosi, Francesco	1962	Italy	125
353	484	Affair to Remember, An	McCarey, Leo	1957	USA	115
354	358	Festen	Vinterberg, Thomas	1998	Denmark	105
355	390	Palm Beach Story, The	Sturges, Preston	1942	USA	90
356	296	Bridge on the River Kwai, The	Lean, David	1957	UK	161
357	380	Last Tango in Paris	Bertolucci, Bernardo	1972	France	136
358	304	This is Spinal Tap	Reiner, Rob	1984	USA	82
359	329	King of Comedy, The	Scorsese, Martin	1983	USA	109
360	319	Double Life of Veronique, The	Kieslowski, Krzysztof	1991	France	97
361	383	Tenant, The	Polanski, Roman	1976	France	125
362	361	Cleo from 5 to 7	Varda, Agnes	1962	France	90
363	320	1900	Bertolucci, Bernardo	1976	Italy	245
364	412	In a Year with 13 Moons	Fassbinder, Rainer Werner	1978	West Germany	129
365	431	Woman in the Dunes	Teshigahara, Hiroshi	1964	Japan	127
366	327	Chelsea Girls	Warhol, Andy	1966	USA	210
367	334	Man of Aran	Flaherty, Robert	1934	UK	77
368	332	Heat	Mann, Michael	1995	USA	174
369	317	I Know Where I'm Going!	Powell & Pressburger	1945	UK	91
370	318	Network	Lumet, Sidney	1976	USA	121
371	347	Nostalghia	Tarkovsky, Andrei	1983	Italy	120
372	393	Butch Cassidy and the Sundance Kid	Hill, George Roy	1969	USA	112
373	336	All That Heaven Allows	Sirk, Douglas	1955	USA	89
374	373	Yojimbo	Kurosawa, Akira	1961	Japan	110
375	379	Landscape in the Mist	Angelopoulos, Theo	1988	Greece	127
376	385	Cloud-Capped Star, The	Ghatak, Ritwik	1960	India	126
377	511	Moment of Innocence, A	Makhmalbaf, Mohsen	1996	Iran	78
378	429	Tree of Wooden Clogs, The	Olmi, Ermanno	1978	Italy	185
379	339	Star is Born, A	Cukor, George	1954	USA	154
380	372	Shadows	Cassavetes, John	1959	USA	87
381	460	Dead Ringers	Cronenberg, David	1988	Canada	115
382	368	High and Low	Kurosawa, Akira	1963	Japan	142
383	395	Wanda	Loden, Barbara	1970	USA	105
384	416	Young Girls of Rochefort, The	Demy, Jacques	1967	France	124
385	354	Stranger Than Paradise	Jarmusch, Jim	1984	USA	90
386	333	Out 1, noli me tangere	Rivette, Jacques	1971	France	729
387	370	Ivan's Childhood	Tarkovsky, Andrei	1962	USSR	94
388	424	Stromboli	Rossellini, Roberto	1950	Italy	107
389	438	Charulata	Ray, Satyajit	1964	India	117
390	481	Silence of the Lambs, The	Demme, Jonathan	1991	USA	118
391	423	Closely Watched Trains	Menzel, Jiri	1966	Czechoslovakia	89
392	394	French Cancan	Renoir, Jean	1955	France	93
393	446	High Noon	Zinnemann, Fred	1952	USA	84
394	471	Dead, The	Huston, John	1987	USA	83
395	718	Brokeback Mountain	Lee, Ang	2005	USA	134
396	419	Hustler, The	Rossen, Robert	1961	USA	135
397	597	WALL-E	Stanton, Andrew	2008	USA	98
398	533	Teorema	Pasolini, Pier Paolo	1968	Italy	98
399	392	Gleaners & I, The	Varda, Agnes	2000	France	82
400	375	Plaisir, Le	Ophuls, Max	1952	France	97
401	500	Carrie	De Palma, Brian	1976	USA	97
402	338	Hour of the Furnaces, The	Getino & Solanas	1968	Argentina	260
403	351	Koyaanisqatsi	Reggio, Godfrey	1982	USA	87
404	506	To Have and Have Not	Hawks, Howard	1944	USA	100
405	346	Opening Night	Cassavetes, John	1977	USA	144
406	421	Raise the Red Lantern	Zhang Yimou	1991	China	125
407	374	Five Easy Pieces	Rafelson, Bob	1970	USA	98
408	444	Heaven's Gate	Cimino, Michael	1980	USA	219
409	330	Sorrow and the Pity, The	Ophuls, Marcel	1969	France	260
410	611	Uncle Boonmee Who Can Recall His Past Lives	Weerasethakul, Apichatpong	2010	Thailand	113
411	426	Daisies	Chytilova, Vera	1966	Czechoslovakia	76
412	671	Dogville	von Trier, Lars	2003	Denmark	177
413	363	House is Black, The	Farrokhzad, Forugh	1963	Iran	20
414	479	Tristana	Bunuel, Luis	1970	France	98
415	464	Taste of Cherry	Kiarostami, Abbas	1997	Iran	99
416	376	Aliens	Cameron, James	1986	USA	137
417	357	Pyaasa	Dutt, Guru	1957	India	146
418	365	Army of Shadows	Melville, Jean-Pierre	1969	France	140
419	658	Masculin Feminin	Godard, Jean-Luc	1966	France	103
420	414	Barren Lives	dos Santos, Nelson Pereira	1963	Brazil	103
421	388	Fitzcarraldo	Herzog, Werner	1982	West Germany	157
422	348	Marketa Lazarova	Vlacil, Frantisek	1967	Czechoslovakia	162
423	323	Scenes from a Marriage	Bergman, Ingmar	1973	Sweden	168
424	430	Long Goodbye, The	Altman, Robert	1973	USA	112
425	450	Terra em Transe	Rocha, Glauber	1967	Brazil	106
426	457	Cameraman, The	Keaton & Sedgwick	1928	USA	69
427	651	Turin Horse, The	Tarr, Bela	2011	Hungary	146
428	678	Death of Mr. Lazarescu, The	Puiu, Cristi	2005	Romania	154
429	406	Kagemusha	Kurosawa, Akira	1980	Japan	159
430	458	Fight Club	Fincher, David	1999	USA	139
431	439	Awful Truth, The	McCarey, Leo	1937	USA	92
432	455	Quince Tree of the Sun	Erice, Victor	1992	Spain	133
433	345	Hour of the Wolf	Bergman, Ingmar	1968	Sweden	88
434	399	Innocents, The	Clayton, Jack	1961	UK	100
435	748	White Ribbon, The	Haneke, Michael	2009	Germany	144
436	422	Alexander Nevsky	Eisenstein, Sergei	1938	USSR	107
437	410	Gimme Shelter	Maysles Brothers & Charlotte Zwerin	1970	USA	91
438	490	Scarlet Empress, The	von Sternberg, Josef	1934	USA	110
439	480	Wind Will Carry Us, The	Kiarostami, Abbas	1999	France	118
440	408	Region centrale, La	Snow, Michael	1971	Canada	180
441	523	Limelight	Chaplin, Charles	1952	USA	145
442	503	Suspiria	Argento, Dario	1977	Italy	92
443	512	Senso	Visconti, Luchino	1954	Italy	115
444	417	Day for Night	Truffaut, Francois	1973	France	120
445	360	Easy Rider	Hopper, Dennis	1969	USA	94
446	381	Shawshank Redemption, The	Darabont, Frank	1994	USA	142
447	449	Night at the Opera, A	Wood, Sam	1935	USA	92
448	495	Platform	Jia Zhangke	2000	China	154
449	434	Enigma of Kaspar Hauser, The	Herzog, Werner	1974	West Germany	110
450	604	Elephant	Van Sant, Gus	2003	USA	81
451	371	Chronicle of a Summer	Rouch & Morin	1961	France	85
452	440	a nos amours	Pialat, Maurice	1983	France	102
453	554	Some Came Running	Minnelli, Vincente	1958	USA	136
454	407	Dersu Uzala	Kurosawa, Akira	1975	USSR	144
455	415	Short Cuts	Altman, Robert	1993	USA	189
456	409	Strangers on a Train	Hitchcock, Alfred	1951	USA	101
457	463	Wind, The	Sjostrom, Victor	1928	USA	88
458	502	Shane	Stevens, George	1953	USA	118
459	396	Fantasia	Various Directors	1940	USA	120
460	413	Triumph of the Will	Riefenstahl, Leni	1935	Germany	110
461	411	Monty Python's Life of Brian	Jones, Terry	1979	UK	93
462	491	Early Summer	Ozu, Yasujiro	1951	Japan	135
463	386	Shadows of Our Forgotten Ancestors	Parajanov, Sergei	1964	USSR	97
464	539	Elephant Man, The	Lynch, David	1980	USA	125
465	486	Mad Max 2	Miller, George	1981	Australia	94
466	400	Muriel	Resnais, Alain	1963	France	115
467	555	Punch-Drunk Love	Anderson, Paul Thomas	2002	USA	95
468	397	Terminator, The	Cameron, James	1984	USA	108
469	461	Pinocchio	Sharpsteen & Luske	1940	USA	88
470	403	Toy Story	Lasseter, John	1995	USA	80
471	519	Naked	Leigh, Mike	1993	UK	126
472	441	Top Hat	Sandrich, Mark	1935	USA	99
473	452	Lady from Shanghai, The	Welles, Orson	1948	USA	87
474	474	Two-Lane Blacktop	Hellman, Monte	1971	USA	101
475	427	Sound of Music, The	Wise, Robert	1965	USA	174
476	475	Silence, The	Bergman, Ingmar	1963	Sweden	96
477	432	Land Without Bread	Bunuel, Luis	1932	Spain	28
478	428	Crouching Tiger, Hidden Dragon	Lee, Ang	2000	Taiwan	120
479	483	Point Blank	Boorman, John	1967	USA	92
480	384	Grey Gardens	Maysles Brothers, Hovde, Meyer	1975	USA	95
481	466	Flowers of St. Francis, The	Rossellini, Roberto	1950	Italy	83
482	553	Forrest Gump	Zemeckis, Robert	1994	USA	142
483	485	Flowers of Shanghai	Hou Hsiao-hsien	1998	Taiwan	130
484	443	Lola	Demy, Jacques	1961	France	90
485	473	Yellow Earth	Chen Kaige	1984	China	89
486	694	Melancholia	von Trier, Lars	2011	Denmark	136
487	387	Hoop Dreams	James, Steve	1994	USA	170
488	543	Steamboat Bill, Jr.	Keaton & Reisner	1928	USA	71
489	451	India Song	Duras, Marguerite	1975	France	120
490	515	Repulsion	Polanski, Roman	1965	UK	105
491	389	Cranes Are Flying, The	Kalatozov, Mikhail	1957	USSR	94
492	445	Mon oncle	Tati, Jacques	1958	France	126
493	470	Winter Light	Bergman, Ingmar	1962	Sweden	80
494	454	Tale of Tales	Norshteyn, Yuriy	1979	USSR	29
495	564	Wedding March, The	von Stroheim, Erich	1928	USA	113
496	468	Miracle in Milan	De Sica, Vittorio	1951	Italy	95
497	536	Talk to Her	Almodovar, Pedro	2002	Spain	112
498	436	Withnail & I	Robinson, Bruce	1987	UK	105
499	488	Safe	Haynes, Todd	1995	USA	119
500	529	All That Jazz	Fosse, Bob	1979	USA	123
501	482	Barton Fink	Coen Brothers	1991	USA	117
502	608	Loves of a Blonde	Forman, Milos	1965	Czechoslovakia	88
503	640	Vampires, Les	Feuillade, Louis	1915	France	440
504	556	Wagon Master	Ford, John	1950	USA	86
505	578	Dead Man	Jarmusch, Jim	1995	USA	121
506	538	Terra trema, La	Visconti, Luchino	1948	Italy	160
507	560	Frankenstein	Whale, James	1931	USA	70
508	442	Alphaville	Godard, Jean-Luc	1965	France	95
509	741	Lives of Others, The	von Donnersmarck, Florian Henckel	2006	Germany	138
510	507	Halloween	Carpenter, John	1978	USA	93
511	584	Our Hospitality	Keaton & Blystone	1923	USA	74
512	425	Tootsie	Pollack, Sydney	1982	USA	116
513	508	All the President's Men	Pakula, Alan J.	1976	USA	138
514	469	Casino	Scorsese, Martin	1995	USA	182
515	561	Cat People	Tourneur, Jacques	1942	USA	73
516	487	Servant, The	Losey, Joseph	1963	UK	115
517	517	Devils, The	Russell, Ken	1971	UK	109
518	589	Bigger Than Life	Ray, Nicholas	1956	USA	95
519	456	Providence	Resnais, Alain	1977	France	110
520	494	Phantom of Liberty, The	Bunuel, Luis	1974	France	104
521	402	Doctor Zhivago	Lean, David	1965	USA	197
522	514	Faust	Murnau, F.W.	1926	Germany	116
523	524	Rise to Power of Louis XIV, The	Rossellini, Roberto	1966	France	100
524	633	Damned, The	Visconti, Luchino	1969	Italy	155
525	552	Ninotchka	Lubitsch, Ernst	1939	USA	110
526	447	Trainspotting	Boyle, Danny	1996	UK	95
527	545	Rebel Without a Cause	Ray, Nicholas	1955	USA	111
528	535	Aparajito	Ray, Satyajit	1956	India	108
529	528	Big Heat, The	Lang, Fritz	1953	USA	90
530	433	Down by Law	Jarmusch, Jim	1986	USA	107
531	510	Hannah and Her Sisters	Allen, Woody	1986	USA	106
532	586	Picnic at Hanging Rock	Weir, Peter	1975	Australia	110
533	453	Farewell, My Concubine	Chen Kaige	1993	China	155
534	513	Alice in the Cities	Wenders, Wim	1974	West Germany	110
535	532	Shadow of a Doubt	Hitchcock, Alfred	1943	USA	108
536	559	12 Angry Men	Lumet, Sidney	1957	USA	95
537	505	Pat Garrett and Billy the Kid	Peckinpah, Sam	1973	USA	122
538	489	Laura	Preminger, Otto	1944	USA	85
539	418	Asphalt Jungle, The	Huston, John	1950	USA	112
540	459	Accattone	Pasolini, Pier Paolo	1961	Italy	120
541	477	Hard Day's Night, A	Lester, Richard	1964	UK	87
542	709	Oldboy	Park Chan-wook	2003	South Korea	120
543	478	Rosetta	Dardenne Brothers	1999	Belgium	94
544	721	East of Eden	Kazan, Elia	1955	USA	115
545	521	Boogie Nights	Anderson, Paul Thomas	1997	USA	155
546	540	That Obscure Object of Desire	Bunuel, Luis	1977	France	103
547	700	Bitter Tears of Petra von Kant, The	Fassbinder, Rainer Werner	1972	West Germany	124
548	864	Colossal Youth	Costa, Pedro	2006	France	155
549	777	Separation, A	Farhadi, Asghar	2011	Iran	123
550	516	Scorpio Rising	Anger, Kenneth	1964	USA	29
551	526	Bring Me the Head of Alfredo Garcia	Peckinpah, Sam	1974	USA	112
552	498	Vitelloni, I	Fellini, Federico	1953	Italy	104
553	435	Salesman	Maysles Brothers & Charlotte Zwerin	1969	USA	85
554	493	Walkabout	Roeg, Nicolas	1971	Australia	95
555	542	Boudu Saved from Drowning	Renoir, Jean	1932	France	87
556	679	Secrets & Lies	Leigh, Mike	1996	UK	142
557	504	Great Expectations	Lean, David	1946	UK	118
558	476	Fellini Satyricon	Fellini, Federico	1969	Italy	129
559	626	Detour	Ulmer, Edgar G.	1945	USA	69
560	496	Deliverance	Boorman, John	1972	USA	109
561	808	No Country for Old Men	Coen Brothers	2007	USA	122
562	565	Being There	Ashby, Hal	1979	USA	130
563	803	Grizzly Man	Herzog, Werner	2005	USA	103
564	606	Local Hero	Forsyth, Bill	1983	UK	111
565	674	Nazarin	Bunuel, Luis	1958	Mexico	94
566	761	Lost in Translation	Coppola, Sofia	2003	USA	102
567	499	Blue Angel, The	von Sternberg, Josef	1930	Germany	103
568	571	My Own Private Idaho	Van Sant, Gus	1991	USA	102
569	653	Lady Vanishes, The	Hitchcock, Alfred	1938	UK	97
570	467	Dr. Mabuse, The Gambler	Lang, Fritz	1922	Germany	270
571	531	French Connection, The	Friedkin, William	1971	USA	104
572	641	Full Metal Jacket	Kubrick, Stanley	1987	USA	116
573	558	Love Me Tonight	Mamoulian, Rouben	1932	USA	96
574	625	A.I. Artificial Intelligence	Spielberg, Steven	2001	USA	145
575	871	Inland Empire	Lynch, David	2006	USA	180
576	592	Placido	Garcia Berlanga, Luis	1961	Spain	85
577	530	Rocky	Avildsen, John G.	1976	USA	119
578	509	Strike	Eisenstein, Sergei	1925	USSR	73
579	520	Ben-Hur	Wyler, William	1959	USA	212
580	652	I Walked with a Zombie	Tourneur, Jacques	1943	USA	69
581	465	Red Circle, The	Melville, Jean-Pierre	1970	France	150
582	574	Splendor in the Grass	Kazan, Elia	1961	USA	124
583	492	Devil, Probably, The	Bresson, Robert	1977	France	95
584	602	Bande a part	Godard, Jean-Luc	1964	France	97
585	829	Hana-bi	Kitano, Takeshi	1997	Japan	103
586	575	In Vanda's Room	Costa, Pedro	2000	Portugal	170
587	518	Scarface	De Palma, Brian	1983	USA	170
588	541	Die Hard	McTiernan, John	1988	USA	131
589	580	Raising Arizona	Coen Brothers	1987	USA	92
590	615	Antonio das Mortes	Rocha, Glauber	1969	Brazil	95
591	814	Goodbye, Dragon Inn	Tsai Ming-liang	2003	Taiwan	82
592	733	Tiger of Eschnapur, The	Lang, Fritz	1958	West Germany	101
593	691	Royal Tenenbaums, The	Anderson, Wes	2001	USA	109
594	577	Xala	Sembene, Ousmane	1975	Senegal	123
595	462	Titicut Follies	Wiseman, Frederick	1967	USA	84
596	501	Rebecca	Hitchcock, Alfred	1940	USA	130
597	618	Songs from the Second Floor	Andersson, Roy	2000	Sweden	98
598	497	Blissfully Yours	Weerasethakul, Apichatpong	2002	Thailand	125
599	585	Place in the Sun, A	Stevens, George	1951	USA	122
600	551	Funny Games	Haneke, Michael	1997	Austria	108
601	603	Age of Innocence, The	Scorsese, Martin	1993	USA	133
602	915	Silent Light	Reygadas, Carlos	2007	Mexico	136
603	527	Killing, The	Kubrick, Stanley	1956	USA	85
604	614	Mother and Son	Sokurov, Aleksandr	1997	Russia	73
605	548	African Queen, The	Huston, John	1951	USA	105
606	525	Round-Up, The	Jancso, Miklos	1966	Hungary	94
607	650	Amants du Pont-Neuf, Les	Carax, Leos	1991	France	126
608	537	Young Frankenstein	Brooks, Mel	1974	USA	105
609	834	Memento	Nolan, Christopher	2000	USA	113
610	763	Fat City	Huston, John	1972	USA	100
611	832	Dames du Bois de Boulogne, Les	Bresson, Robert	1945	France	85
612	648	Foolish Wives	von Stroheim, Erich	1922	USA	117
613	549	Yeelen	Cisse, Souleymane	1987	Mali	105
614	612	Lancelot du Lac	Bresson, Robert	1974	France	84
615	567	Manchurian Candidate, The	Frankenheimer, John	1962	USA	126
616	909	Pan's Labyrinth	del Toro, Guillermo	2006	Spain	120
617	534	Edvard Munch	Watkins, Peter	1974	Sweden	210
618	716	By the Bluest of Seas	Barnet, Boris	1936	USSR	71
619	596	Breakfast at Tiffany's	Edwards, Blake	1961	USA	115
620	562	Passion	Godard, Jean-Luc	1982	France	87
621	673	Man Who Would Be King, The	Huston, John	1975	USA	129
622	931	Nostalgia for the Light	Guzman, Patricio	2010	France	90
623	569	Young Mr. Lincoln	Ford, John	1939	USA	100
624	690	Chant d'amour, Un	Genet, Jean	1950	France	26
625	591	Dazed and Confused	Linklater, Richard	1993	USA	94
626	605	Amelie	Jeunet, Jean-Pierre	2001	France	122
627	702	Gummo	Korine, Harmony	1997	USA	88
628	583	39 Steps, The	Hitchcock, Alfred	1935	UK	87
629	714	Requiem for a Dream	Aronofsky, Darren	2000	USA	100
630	588	They Live by Night	Ray, Nicholas	1948	USA	95
631	649	Scarface	Hawks, Howard	1932	USA	90
632	843	And Life Goes On...	Kiarostami, Abbas	1992	Iran	108
633	726	Evil Dead II	Raimi, Sam	1987	USA	85
634	622	Party, The	Edwards, Blake	1968	USA	99
635	581	Claire's Knee	Rohmer, Eric	1970	France	105
636	594	My Life as a Dog	Hallstrom, Lasse	1985	Sweden	101
637	740	Wild Child, The	Truffaut, Francois	1970	France	85
638	576	Emperor's Naked Army Marches On, The	Hara, Kazuo	1987	Japan	122
639	948	Before Sunset	Linklater, Richard	2004	USA	80
640	595	Short Film About Killing, A	Kieslowski, Krzysztof	1987	Poland	85
641	797	Rushmore	Anderson, Wes	1998	USA	93
642	662	Belle noiseuse, La	Rivette, Jacques	1991	France	240
643	590	Purple Rose of Cairo, The	Allen, Woody	1985	USA	82
644	600	Dancer in the Dark	von Trier, Lars	2000	Denmark	140
645	719	Edward Scissorhands	Burton, Tim	1990	USA	100
646	698	Orlando	Potter, Sally	1992	UK	94
647	927	Zodiac	Fincher, David	2007	USA	158
648	546	Terminator 2: Judgment Day	Cameron, James	1991	USA	136
649	703	Distant	Ceylan, Nuri Bilge	2002	Turkey	110
650	630	Europa '51	Rossellini, Roberto	1952	Italy	113
651	685	Navigator, The	Keaton & Crisp	1924	USA	59
652	522	Nouvelle vague	Godard, Jean-Luc	1990	France	90
653	643	W.R.: Mysteries of the Organism	Makavejev, Dusan	1971	Yugoslavia	84
654	669	Son, The	Dardenne Brothers	2002	Belgium	103
655	629	Mr. Smith Goes to Washington	Capra, Frank	1939	USA	129
656	566	Fellini's Roma	Fellini, Federico	1972	Italy	128
657	544	Harlan County, U.S.A.	Kopple, Barbara	1976	USA	103
658	695	Hatari!	Hawks, Howard	1962	USA	159
659	587	Limite	Peixoto, Mario	1931	Brazil	114
660	807	Great Escape, The	Sturges, John	1963	USA	168
661	616	Miller's Crossing	Coen Brothers	1990	USA	115
662	623	Thelma & Louise	Scott, Ridley	1991	USA	128
663	621	White Heat	Walsh, Raoul	1949	USA	114
664	743	Se7en	Fincher, David	1995	USA	127
665	670	Vive L'Amour	Tsai Ming-liang	1994	Taiwan	118
666	568	Bambi	Hand, David	1942	USA	69
667	817	Casque d'or	Becker, Jacques	1952	France	96
668	663	Flaming Creatures	Smith, Jack	1963	USA	43
669	550	Seasons, The	Peleshian, Artavazd	1975	USSR	29
670	675	Zelig	Allen, Woody	1983	USA	79
671	723	Woman Next Door, The	Truffaut, Francois	1981	France	106
672	966	Still Life	Jia Zhangke	2006	China	113
673	806	Seven Chances	Keaton, Buster	1925	USA	56
674	624	Angel at My Table, An	Campion, Jane	1990	New Zealand	158
675	953	Synecdoche, New York	Kaufman, Charlie	2008	USA	124
676	687	Faster, Pussycat! Kill! Kill!	Meyer, Russ	1965	USA	83
677	752	Y tu mama tambien	Cuaron, Alfonso	2001	Mexico	105
678	735	Saturday Night and Sunday Morning	Reisz, Karel	1960	UK	89
679	547	Tin Drum, The	Schlondorff, Volker	1979	West Germany	142
680	593	Monty Python and the Holy Grail	Gilliam & Jones	1975	UK	90
681	563	Marriage of Maria Braun, The	Fassbinder, Rainer Werner	1979	West Germany	120
682	923	Dark Knight, The	Nolan, Christopher	2008	USA	152
683	737	Red Balloon, The	Lamorisse, Albert	1956	France	34
684	579	Spartacus	Kubrick, Stanley	1960	USA	184
685	809	Ascent, The	Shepitko, Larisa	1976	USSR	111
686	570	Robocop	Verhoeven, Paul	1987	USA	103
687	620	Red Sorghum	Zhang Yimou	1987	China	91
688	613	Fly, The	Cronenberg, David	1986	USA	100
689	610	All Quiet on the Western Front	Milestone, Lewis	1930	USA	133
690	644	Harakiri	Kobayashi, Masaki	1962	Japan	133
691	701	Streetcar Named Desire, A	Kazan, Elia	1951	USA	122
692	607	My Friend Ivan Lapshin	German, Aleksey	1985	USSR	100
693	635	Killer, The	Woo, John	1989	Hong Kong	110
694	990	4 Months, 3 Weeks and 2 Days	Mungiu, Cristian	2007	Romania	113
695	645	Wicker Man, The	Hardy, Robin	1973	UK	103
696	757	Crash	Cronenberg, David	1996	Canada	100
697	627	Invasion of the Body Snatchers	Siegel, Don	1956	USA	80
698	730	Time of the Gypsies	Kusturica, Emir	1989	Yugoslavia	142
699	609	Idiots, The	von Trier, Lars	1998	Denmark	117
700	637	Blood Simple	Coen Brothers	1984	USA	97
701	899	JFK	Stone, Oliver	1991	USA	188
702	728	After Life	Koreeda, Hirokazu	1998	Japan	118
703	572	Ferris Bueller's Day Off	Hughes, John	1986	USA	103
704	557	Testament of Dr. Mabuse, The	Lang, Fritz	1933	Germany	120
705	684	Lolita	Kubrick, Stanley	1962	UK	152
706	683	Smiles of a Summer Night	Bergman, Ingmar	1955	Sweden	108
707	601	Holy Mountain, The	Jodorowsky, Alejandro	1973	Mexico	114
708	634	Haine, La	Kassovitz, Mathieu	1995	France	93
709	857	Thief of Bagdad, The	Powell, Berger, Whelan	1940	UK	106
710	632	Shock Corridor	Fuller, Samuel	1963	USA	101
711	786	Bad and the Beautiful, The	Minnelli, Vincente	1952	USA	118
712	628	Chronicle of Anna Magdalena Bach, The	Straub, Jean-Marie	1968	West Germany	94
713	617	Sang des betes, Le	Franju, Georges	1949	France	20
714	877	Vengeance is Mine	Imamura, Shohei	1979	Japan	129
715	665	Circus, The	Chaplin, Charles	1928	USA	72
716	582	Olympia	Riefenstahl, Leni	1938	Germany	220
717	756	L.A. Confidential	Hanson, Curtis	1997	USA	137
718	742	Misfits, The	Huston, John	1961	USA	124
719	655	Moonfleet	Lang, Fritz	1955	USA	89
720	710	She Wore a Yellow Ribbon	Ford, John	1949	USA	103
721	668	Woman of Paris, A	Chaplin, Charles	1923	USA	78
722	646	Code Unknown	Haneke, Michael	2000	France	118
723	959	Syndromes and a Century	Weerasethakul, Apichatpong	2006	Thailand	105
724	821	Arrebato	Zulueta, Ivan	1979	Spain	105
725	750	Hitler: A Film from Germany	Syberberg, Hans-Jurgen	1977	West Germany	442
726	---	Hunger	McQueen, Steve	2008	UK	96
727	657	Port of Shadows	Carne, Marcel	1938	France	91
728	659	Possession	Zulawski, Andrzej	1981	France	127
729	639	Virgin Spring, The	Bergman, Ingmar	1959	Sweden	88
730	619	Titanic	Cameron, James	1997	USA	194
731	847	Seven Women	Ford, John	1966	USA	87
732	853	Starship Troopers	Verhoeven, Paul	1997	USA	129
733	772	Blue	Jarman, Derek	1993	UK	76
734	---	Crumb	Zwigoff, Terry	1994	USA	119
735	598	Gun Crazy	Lewis, Joseph H.	1950	USA	86
736	836	Sauve qui peut (la vie)	Godard, Jean-Luc	1980	France	87
737	785	Maitres fous, Les	Rouch, Jean	1955	France	36
738	734	Ace in the Hole	Wilder, Billy	1951	USA	112
739	---	Amour	Haneke, Michael	2012	Austria	127
740	949	Van Gogh	Pialat, Maurice	1991	France	158
741	667	Producers, The	Brooks, Mel	1968	USA	88
742	688	They Were Expendable	Ford, John	1945	USA	135
743	883	Blow Out	De Palma, Brian	1981	USA	107
744	764	Ossessione	Visconti, Luchino	1943	Italy	140
745	787	Spione	Lang, Fritz	1928	Germany	90
746	760	Dodes'ka-den	Kurosawa, Akira	1970	Japan	140
747	904	Moulin Rouge!	Luhrmann, Baz	2001	USA	126
748	876	Burnt by the Sun	Mikhalkov, Nikita	1994	Russia	152
749	636	Lusty Men, The	Ray, Nicholas	1952	USA	113
750	783	Z	Costa-Gavras, Constantin	1969	France	127
751	830	Ludwig	Visconti, Luchino	1972	Italy	235
752	661	Right Stuff, The	Kaufman, Philip	1983	USA	193
753	950	Avatar	Cameron, James	2009	USA	161
754	599	Numero deux	Godard, Jean-Luc	1975	France	88
755	770	Kaagaz Ke Phool	Dutt, Guru	1959	India	148
756	631	Grido, Il	Antonioni, Michelangelo	1957	Italy	111
757	---	Headless Woman, The	Martel, Lucrecia	2008	Argentina	87
758	664	Au revoir les enfants	Malle, Louis	1987	France	103
759	850	Dog Star Man	Brakhage, Stan	1964	USA	75
760	724	Trial, The	Welles, Orson	1962	France	118
761	705	Last Detail, The	Ashby, Hal	1973	USA	105
762	860	Commune (Paris, 1871), La	Watkins, Peter	2000	France	345
763	713	Who's Afraid of Virginia Woolf?	Nichols, Mike	1966	USA	129
764	647	Diaboliques, Les	Clouzot, Henri-Georges	1955	France	114
765	573	Twenty Years Later	Coutinho, Eduardo	1984	Brazil	119
766	660	Forbidden Games	Clement, Rene	1952	France	87
767	895	Long Day Closes, The	Davies, Terence	1992	UK	83
768	638	Miracle of Morgan's Creek, The	Sturges, Preston	1944	USA	99
769	708	Piano Teacher, The	Haneke, Michael	2001	Austria	130
770	680	Lord of the Rings: The Fellowship of the Ring, The	Jackson, Peter	2001	New Zealand	178
771	666	Cool Hand Luke	Rosenberg, Stuart	1967	USA	126
772	833	Vagabond	Varda, Agnes	1985	France	105
773	654	American in Paris, An	Minnelli, Vincente	1951	USA	115
774	869	Morocco	von Sternberg, Josef	1930	USA	92
775	984	O Lucky Man!	Anderson, Lindsay	1973	UK	173
776	---	New World, The	Malick, Terrence	2005	USA	135
777	731	Dumbo	Sharpsteen, Ben	1941	USA	64
778	793	Golden Coach, The	Renoir, Jean	1952	Italy	100
779	778	Seventh Heaven	Borzage, Frank	1927	USA	119
780	816	River, The	Tsai Ming-liang	1997	Taiwan	115
781	672	Ghost and Mrs. Muir, The	Mankiewicz, Joseph L.	1947	USA	104
782	789	Pink Flamingos	Waters, John	1972	USA	92
783	842	Taipei Story	Yang, Edward	1985	Taiwan	110
784	799	Ladykillers, The	Mackendrick, Alexander	1955	UK	90
785	707	Jour se leve, Le	Carne, Marcel	1939	France	93
786	---	Sideways	Payne, Alexander	2004	USA	123
787	855	Fires Were Started	Jennings, Humphrey	1943	UK	80
788	882	Last Temptation of Christ, The	Scorsese, Martin	1988	USA	164
789	725	End of Summer, The	Ozu, Yasujiro	1961	Japan	103
790	918	Audition	Miike, Takashi	1999	Japan	115
791	---	Wild at Heart	Lynch, David	1990	USA	127
792	795	Branded to Kill	Suzuki, Seijun	1967	Japan	91
793	696	Akira	Otomo, Katsuhiro	1988	Japan	124
794	986	Chienne, La	Renoir, Jean	1931	France	95
795	697	Anatomy of a Murder	Preminger, Otto	1959	USA	160
796	712	Princess Bride, The	Reiner, Rob	1987	USA	98
797	---	History of Violence, A	Cronenberg, David	2005	USA	96
798	677	Sun Shines Bright, The	Ford, John	1953	USA	90
799	689	Million, Le	Clair, Rene	1931	France	85
800	804	Sur, El	Erice, Victor	1983	Spain	95
801	765	Saturday Night Fever	Badham, John	1977	USA	119
802	722	Cienaga, La	Martel, Lucrecia	2001	Argentina	103
803	682	Sicilia!	Straub & Huillet	1999	Italy	66
804	983	Hotel Terminus	Ophuls, Marcel	1987	USA	267
805	681	Abraham's Valley	Oliveira, Manoel de	1993	Portugal	187
806	676	Hart of London, The	Chambers, Jack	1970	Canada	80
807	754	Street Angel	Yuan Muzhi	1937	China	91
808	888	American Beauty	Mendes, Sam	1999	USA	121
809	693	Last Emperor, The	Bertolucci, Bernardo	1987	China	160
810	762	Henry V	Olivier, Laurence	1944	UK	137
811	706	Breakfast Club, The	Hughes, John	1985	USA	97
812	---	2046	Wong Kar-wai	2004	Hong Kong	129
813	769	American Graffiti	Lucas, George	1973	USA	110
814	820	Cul-de-sac	Polanski, Roman	1966	UK	111
815	825	Knife in the Water	Polanski, Roman	1962	Poland	94
816	746	Mother India	Khan, Mehboob	1957	India	172
817	859	Dust in the Wind	Hou Hsiao-hsien	1987	Taiwan	109
818	711	Princess Mononoke	Miyazaki, Hayao	1997	Japan	134
819	894	Sweet Hereafter, The	Egoyan, Atom	1997	Canada	112
820	878	Odd Man Out	Reed, Carol	1947	UK	115
821	791	Excalibur	Boorman, John	1981	UK	140
822	840	We All Loved Each Other So Much	Scola, Ettore	1974	Italy	124
823	881	Topsy-Turvy	Leigh, Mike	1999	UK	160
824	---	Intruder, The	Denis, Claire	2004	France	130
825	845	Age of the Earth, The	Rocha, Glauber	1980	Brazil	158
826	913	Fort Apache	Ford, John	1948	USA	127
827	720	Ladies Man, The	Lewis, Jerry	1961	USA	95
828	745	Dirty Harry	Siegel, Don	1971	USA	102
829	---	Blazing Saddles	Brooks, Mel	1974	USA	93
830	642	Last Bolshevik, The	Marker, Chris	1993	France	120
831	---	Wings of Eagles, The	Ford, John	1957	USA	110
832	729	Rififi	Dassin, Jules	1955	France	115
833	784	Get Carter	Hodges, Mike	1971	UK	112
834	749	Posto, Il	Olmi, Ermanno	1961	Italy	93
835	---	Host, The	Bong Joon-ho	2006	South Korea	119
836	704	Black Orpheus	Camus, Marcel	1959	Brazil	103
837	849	Grave of the Fireflies	Takahata, Isao	1988	Japan	93
838	826	Veronika Voss	Fassbinder, Rainer Werner	1982	West Germany	105
839	921	Gilda	Vidor, Charles	1946	USA	110
840	727	Black Girl	Sembene, Ousmane	1966	Senegal	65
841	819	Night of the Demon	Tourneur, Jacques	1957	UK	82
842	774	Juliet of the Spirits	Fellini, Federico	1965	Italy	148
843	917	Gregory's Girl	Forsyth, Bill	1980	UK	91
844	884	New York, New York	Scorsese, Martin	1977	USA	164
845	790	It's a Gift	McLeod, Norman Z.	1934	USA	73
846	851	On the Town	Donen & Kelly	1949	USA	98
847	831	Angel	Lubitsch, Ernst	1937	USA	91
848	759	Tale of the Wind, A	Ivens, Joris	1988	France	80
849	907	Enfant Secret, L'	Garrel, Philippe	1982	France	92
850	936	Pakeezah	Amrohi, Kamal	1972	India	150
851	991	My Little Loves	Eustache, Jean	1974	France	123
852	699	Not Reconciled	Straub, Jean-Marie	1965	West Germany	51
853	656	Othello	Welles, Orson	1952	Italy	90
854	802	Bete humaine, La	Renoir, Jean	1938	France	99
855	815	Arabian Nights	Pasolini, Pier Paolo	1974	Italy	130
856	767	Reds	Beatty, Warren	1981	USA	200
857	768	Empire	Warhol, Andy	1964	USA	485
858	938	News from Home	Akerman, Chantal	1976	France	85
859	863	Assault on Precinct 13	Carpenter, John	1976	USA	90
860	885	Two English Girls	Truffaut, Francois	1971	France	108
861	788	D'Est	Akerman, Chantal	1993	Belgium	107
862	---	Million Dollar Baby	Eastwood, Clint	2004	USA	137
863	744	Rope	Hitchcock, Alfred	1948	USA	80
864	776	Simon of the Desert	Bunuel, Luis	1965	Mexico	43
865	856	Exotica	Egoyan, Atom	1994	Canada	104
866	---	Street of Shame	Mizoguchi, Kenji	1956	Japan	87
867	753	Adventures of Robin Hood, The	Curtiz & William Keighley	1938	USA	102
868	813	3 Women	Altman, Robert	1977	USA	125
869	841	Blues Brothers, The	Landis, John	1980	USA	130
870	---	Louisiana Story	Flaherty, Robert	1948	USA	77
871	751	Hawks and the Sparrows, The	Pasolini, Pier Paolo	1966	Italy	91
872	952	Criminal Life of Archibaldo de la Cruz, The	Bunuel, Luis	1955	Mexico	91
873	942	Nuit du carrefour, La	Renoir, Jean	1932	France	73
874	801	Pickup on South Street	Fuller, Samuel	1953	USA	80
875	919	Diary for Timothy, A	Jennings, Humphrey	1945	UK	40
876	924	Diaries, Notes and Sketches	Mekas, Jonas	1969	USA	177
877	920	Forbidden Planet	Wilcox, Fred M.	1956	USA	98
878	875	Bob le flambeur	Melville, Jean-Pierre	1955	France	102
879	818	Firemen's Ball, The	Forman, Milos	1967	Czechoslovakia	73
880	---	Duel in the Sun	Vidor, King	1946	USA	130
881	844	Big Deal on Madonna Street	Monicelli, Mario	1958	Italy	91
882	794	Moi, un Noir	Rouch, Jean	1958	France	70
883	870	Usual Suspects, The	Singer, Bryan	1995	USA	105
884	---	Airplane!	Abrahams, Zucker, Zucker	1980	USA	86
885	739	National Lampoon's Animal House	Landis, John	1978	USA	109
886	---	Too Early, Too Late	Straub & Huillet	1981	Germany	100
887	---	Spring, Summer, Autumn, Winterƒ and Spring	Kim Ki-duk	2003	South Korea	103
888	---	Love and Death	Allen, Woody	1975	USA	82
889	---	Reckless Moment, The	Ophuls, Max	1949	USA	82
890	717	Floating Weeds	Ozu, Yasujiro	1959	Japan	119
891	---	Ten Commandments, The	DeMille, Cecil B.	1956	USA	220
892	846	To Live	Zhang Yimou	1994	China	145
893	755	Enfance nue, L'	Pialat, Maurice	1968	France	80
894	---	Near Dark	Bigelow, Kathryn	1987	USA	95
895	985	Bonheur, Le	Varda, Agnes	1965	France	79
896	---	47 Ronin, The	Mizoguchi, Kenji	1941	Japan	219
897	738	As I Was Moving Ahead Occasionally I Saw Brief Glimpses of Beauty	Mekas, Jonas	2000	USA	288
898	---	Ride the High Country	Peckinpah, Sam	1962	USA	94
899	---	Day the Earth Stood Still, The	Wise, Robert	1951	USA	92
900	967	Loneliness of the Long Distance Runner, The	Richardson, Tony	1962	UK	103
901	810	Cairo Station	Chahine, Youssef	1958	Egypt	76
902	771	Elephant	Clarke, Alan	1989	UK	39
903	747	Yol	Goren & Guney	1982	Turkey	114
904	866	Ballad of Narayama, The	Imamura, Shohei	1983	Japan	130
905	837	Anatahan	von Sternberg, Josef	1953	Japan	92
906	962	Sawdust and Tinsel	Bergman, Ingmar	1953	Sweden	92
907	780	Roman Holiday	Wyler, William	1953	USA	119
908	773	Subarnarekha	Ghatak, Ritwik	1965	India	143
909	946	Midnight Run	Brest, Martin	1988	USA	122
910	973	Match Factory Girl, The	Kaurismaki, Aki	1990	Finland	68
911	692	Ice Storm, The	Lee, Ang	1997	USA	113
912	775	Women on the Verge of a Nervous Breakdown	Almodovar, Pedro	1988	Spain	88
913	874	India: Matri Bhumi	Rossellini, Roberto	1959	Italy	90
914	736	War and Peace	Bondarchuk, Sergei	1967	USSR	357
915	886	Mon oncle d'Amerique	Resnais, Alain	1980	France	123
916	891	Fellini's Casanova	Fellini, Federico	1976	Italy	158
917	---	Once Upon a Time in Anatolia	Ceylan, Nuri Bilge	2011	Turkey	150
918	792	Topo, El	Jodorowsky, Alejandro	1970	Mexico	124
919	782	From the Clouds to the Resistance	Straub & Huillet	1979	Italy	104
920	811	Berlin: Symphony of a Great City	Ruttmann, Walter	1927	Germany	65
921	732	Outer Space	Tscherkassky, Peter	1999	Austria	10
922	964	Atanarjuat: The Fast Runner	Kunuk, Zacharias	2001	Canada	172
923	---	Saragossa Manuscript, The	Has, Wojciech	1965	Poland	182
924	---	Lord of the Rings: The Return of the King, The	Jackson, Peter	2003	New Zealand	201
925	976	Man Who Fell to Earth, The	Roeg, Nicolas	1976	UK	140
926	963	El Dorado	Hawks, Howard	1967	USA	126
927	812	42nd Street	Bacon, Lloyd	1933	USA	89
928	928	Finding Nemo	Stanton & Unkrich	2003	USA	100
929	905	Naked Island, The	Shindo, Kaneto	1960	Japan	94
930	715	Grin Without a Cat	Marker, Chris	1977	France	240
931	890	Shanghai Express	von Sternberg, Josef	1932	USA	80
932	800	Mothlight	Brakhage, Stan	1963	USA	4
933	---	Indian Tomb, The	Lang, Fritz	1959	West Germany	95
934	---	Princess Yang Kwei Fei	Mizoguchi, Kenji	1955	Japan	98
935	872	Mildred Pierce	Curtiz, Michael	1945	USA	109
936	---	Gentlemen Prefer Blondes	Hawks, Howard	1953	USA	91
937	805	Chikamatsu monogatari	Mizoguchi, Kenji	1954	Japan	100
938	---	Ed Wood	Burton, Tim	1994	USA	124
939	902	Deep End	Skolimowski, Jerzy	1970	UK	88
940	996	Holiday	Cukor, George	1938	USA	93
941	---	Fata Morgana	Herzog, Werner	1971	West Germany	78
942	---	Hellzapoppin'	Potter, H.C.	1941	USA	84
943	798	Heimat	Reitz, Edgar	1984	West Germany	940
944	839	Ceddo	Sembene, Ousmane	1976	Senegal	117
945	---	Sting, The	Hill, George Roy	1973	USA	129
946	854	Witness	Weir, Peter	1985	USA	112
947	828	Rocky Horror Picture Show, The	Sharman, Jim	1975	UK	95
948	965	Sonatine	Kitano, Takeshi	1993	Japan	94
949	900	Lone Star	Sayles, John	1996	USA	135
950	971	Second Breath	Melville, Jean-Pierre	1966	France	144
951	827	M*A*S*H	Altman, Robert	1970	USA	116
952	880	Outlaw Josey Wales, The	Eastwood, Clint	1976	USA	135
953	---	Central Station	Salles, Walter	1998	Brazil	110
954	922	Godfather Part III, The	Coppola, Francis Ford	1990	USA	161
955	---	Strangers When We Meet	Quine, Richard	1960	USA	117
956	958	Ten	Kiarostami, Abbas	2002	France	92
957	779	Incredible Shrinking Man, The	Arnold, Jack	1957	USA	81
958	781	Zabriskie Point	Antonioni, Michelangelo	1970	USA	112
959	858	Unsere Afrikareise	Kubelka, Peter	1966	Austria	13
960	892	Dracula	Fisher, Terence	1958	UK	82
961	861	Blood of a Poet, The	Cocteau, Jean	1930	France	58
962	---	Scarecrow	Schatzberg, Jerry	1973	USA	108
963	838	Twin Peaks: Fire Walk with Me	Lynch, David	1992	USA	135
964	---	Sweet Sweetback's Baadasssss Song	Van Peebles, Melvin	1971	USA	97
965	---	Bad Timing	Roeg, Nicolas	1980	UK	129
966	---	Three Colours: White	Kieslowski, Krzysztof	1994	France	92
967	908	Act of Seeing with One's Own Eyes, The	Brakhage, Stan	1971	USA	32
968	---	Rose Hobart	Cornell, Joseph	1936	USA	20
969	---	Tales of Hoffmann, The	Powell & Pressburger	1951	UK	118
970	937	Ju Dou	Zhang Yimou	1990	China	95
971	903	Yellow Submarine	Dunning, George	1968	UK	85
972	823	Femme est une femme, Une	Godard, Jean-Luc	1961	France	83
973	897	Haxan	Christensen, Benjamin	1922	Sweden	83
974	893	Touchez pas au Grisbi	Becker, Jacques	1954	France	94
975	933	Docks of New York, The	von Sternberg, Josef	1928	USA	76
976	935	Broadway Danny Rose	Allen, Woody	1984	USA	86
977	848	True Heart Susie	Griffith, D.W.	1919	USA	87
978	---	Argent, L'	L'Herbier, Marcel	1928	France	195
979	932	Oedipus Rex	Pasolini, Pier Paolo	1967	Italy	110
980	835	Nightmare Before Christmas, The	Selick, Henry	1993	USA	76
981	911	America, America	Kazan, Elia	1963	USA	168
982	824	Arrivee d'un train a la Ciotat, L'	Lumiere Brothers	1895	France	1
983	822	Stardust Memories	Allen, Woody	1980	USA	91
984	---	Madchen in Uniform	Sagan, Leontine	1931	Germany	98
985	---	Bridges of Madison County, The	Eastwood, Clint	1995	USA	135
986	---	Tarnished Angels, The	Sirk, Douglas	1957	USA	91
987	951	Trou, Le	Becker, Jacques	1960	France	140
988	867	Boot, Das	Petersen, Wolfgang	1981	West Germany	149
989	974	Storm Over Asia	Pudovkin, Vsevolod	1928	USSR	93
990	960	Pepe le Moko	Duvivier, Julien	1937	France	94
991	---	Dead Poets Society	Weir, Peter	1989	USA	128
992	926	Outskirts	Barnet, Boris	1933	USSR	98
993	862	Fallen Idol, The	Reed, Carol	1948	UK	94
994	879	When a Woman Ascends the Stairs	Naruse, Mikio	1960	Japan	111
995	---	Oasis	Lee Chang-dong	2002	South Korea	133
996	944	Go-Between, The	Losey, Joseph	1971	UK	116
997	---	Amour fou, L'	Rivette, Jacques	1968	France	252
998	---	Humanite, L'	Dumont, Bruno	1999	France	147
999	---	Happiness	Solondz, Todd	1998	USA	134
1000	896	Straight Story, The	Lynch, David	1999	USA	111
