{% extends "layout.html" %}

{% block title %}
    Success
{% endblock %}

{% block main %}
    <div class="align-center">
        <br><br>
        <strong><h4>Excellent!</h4></strong>
        <br>
        <p>{{ success_message }}</p>
        <br>

        <!--
        give possibility to close second browser window when editting/saving lines
        https://stackoverflow.com/questions/8057802/html-button-close-window
        -->
        {% if session.next == 'popup' %}
            <button type="button" class="btn btn-primary" onclick="self.close()">
                Close
            </button>
        {% endif %}
    </div>
{% endblock %}
