{% extends "layout.html" %}

{% block title %}
    Upload New Project
{% endblock %}

{% block main %}
    <!-- enctype needed for file uploading http://flask.pocoo.org/docs/0.12/patterns/fileuploads/ -->
    <form action="{{ url_for('upload_new') }}" method="post" enctype="multipart/form-data" id="upload_new">
        <fieldset>

            <!--
            limit form input list of values - https://www.w3schools.com/tags/att_input_list.asp
            Multiple level template inheritance in Jinja2?
            https://stackoverflow.com/questions/1976651/multiple-level-template-inheritance-in-jinja2
            -->
            <div class="form-group">
                <input autofocus class="form-control" list="types" name="type" placeholder="Type (select or type)">
                {% include 'select_type.html' %}
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Title" type="text"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control"
                 name="author" placeholder="Author / Artist / Director" type="text"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="year" placeholder="Year" type="number"/>
            </div>

            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="number_of_versions"
                 placeholder="Number of language versions (min. 2)" type="number" min="2" id="number_of_versions" value="">
                <span>   </span>
                <a href="#" id="add_languages" onclick="addLanguages()">Select</a>
                <div class="form-group" id="language_container"></div>
            </div>
            <br />

            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="file" placeholder="File" type="file"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Upload</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
