{% extends "layout.html" %}

{% block title %}
    Add to Existing Project
{% endblock %}

{% block main %}

    {% if existing_projects|length == 0 %}
        <br>
        <p>No existing projects yet.</p>
        <br>
    {% else %}


        <h4>Contributing to an existing project. Most appreciated!</h4>
        </br>
        <form action="{{ url_for('upload_existing') }}" method="post" enctype="multipart/form-data" id="upload_existing">
            <fieldset>
                <div class="form-group">
                    <p>First, please select the project you'd like to contribute to:</p>
                    <input autocomplete="off" autofocus class="form-control"
                           list="projects" name="project" id="project" placeholder="Project (select/type)">
                    <datalist id="projects">
                        {% for project in existing_projects %}
                        <option value='{{ project["name"].title() }}'>
                        {% endfor %}
                    </datalist>
                </div>


                <div class="form-group">
                    <p>Then select the file with the language versions:</p>
                    <input autocomplete="off" autofocus class="form-control" name="file" placeholder="File" type="file"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit">Next</button>
                </div>
            </fieldset>
        </form>
    {% endif %}

{% endblock %}
