{% extends "layout.html" %}

{% block title %}
    Upload New Project
{% endblock %}

{% block main %}
    <!-- enctype needed for file uploading http://flask.pocoo.org/docs/0.12/patterns/fileuploads/ -->
    <form action="{{ url_for('upload_new') }}" method="post" enctype="multipart/form-data" id="upload_new">
        <fieldset>

            <!--
            Multiple level template inheritance in Jinja2?
            https://stackoverflow.com/questions/1976651/multiple-level-template-inheritance-in-jinja2
            -->
            <div class="form-group">
                <label class="sr-only" for="type">Type</label>
                <input autocomplete="off" autofocus class="form-control"
                       list="types" name="type" id="type" placeholder="Type (select/type)">
                {% include "select_type.html" %}
            </div>
            <div class="form-group">
                <label class="sr-only" for="title">Title</label>
                <input autocomplete="off" name="title" class="form-control"
                       id="title" placeholder="Title" type="text"/>
                <span>   </span>
                <a href="#" id="upload_episode" onclick="addEpisode(1)">Click if TV Series</a>
                <div class="form-group" id="upload_episode_container"></div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="author">Author / Artist / Director</label>
                <input autocomplete="off" name="author" class="form-control"
                       id="author" placeholder="Author / Artist / Director" type="text"/>
            </div>
            <div class="form-group">
                <label class="sr-only" for="year">Year</label>
                <input autocomplete="off" name="year" class="form-control"
                       id="year" placeholder="Year" type="number"/>
            </div>

            <div class="form-group">
                <label class="sr-only" for="number_of_versions">How many languages (min. 2)</label>
                <input autocomplete="off" autofocus class="form-control" name="number_of_versions"
                       id="number_of_versions" placeholder="Languages (min. 2)"
                       type="number" min="2" id="number_of_versions" value="">
                <span>   </span>
                <a href="#" id="add_languages" onclick="addLanguages(2)">Add languages</a>
                <div class="form-group" id="language_container"></div>
            </div>
            <br />

            <div class="form-group">
                <label class="sr-only" for="file">Select file to upload</label>
                <input autocomplete="off" autofocus class="form-control" name="file" placeholder="File" type="file"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Upload</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
