{% extends "layout.html" %}

{% block title %}
    Project Overview
{% endblock %}

{% block main %}
    <br>
    <div class="container align-center creamy view">
        <br>
        <table class="table table-bordered d-none d-sm-table">
            <tbody>
                <tr>
                    <td>
                        <strong>Type: </strong>{{ project["type"].title() }}
                    </td>
                    <td>
                        <strong>Title: </strong>
                        {{ project["title"].title() }} by {{ project["author"].title() }} ({{ project["year"] }})
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ project['poster'] }}" alt="poster">
                    </td>
                    <td>
                        <strong>Description: </strong>{{ project["description"] }}
                        <hr>
                        <strong>Languages: </strong>{{ project["languages"].title() }}
                        {% if project["sources"]|length != 0 %}
                            <hr>
                            <b>Credits: </b>
                            <select class="truncate">
                                {% for source in project["sources"] %}
                                    <option>
                                        <b>{{ source["user"] }}</b> thanks
                                        <i>{{ source["source"] }}</i> for
                                        {{ source["language"].title() }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-block d-sm-none">
            <p>
                <strong>Type: </strong> {{ project["type"].title() }}
            </p>
            <hr>
            <p>
                <strong>Title: </strong>
                {{ project["title"].title() }} by {{ project["author"].title() }} ({{ project["year"] }})
            </p>
            <hr>
            <p>
                <img src="{{ project['poster'] }}" alt="Project poster">
            </p>
            <hr>
            <p>
                <strong>Description: </strong>{{ project["description"] }}
            </p>
            <hr>
            <p>
                <strong>Languages: </strong>{{ project["languages"].title() }}
            </p>
            {% if project["sources"]|length != 0 %}
                <hr>
                <p>
                    <b>Credits: </b>
                    <select class="truncate">
                        {% for source in project["sources"] %}
                            <option>
                                <b>{{ source["user"] }}</b> thanks <i>{{ source["source"] }}</i> for {{ source["language"].title() }}
                            </option>
                        {% endfor %}
                    </select>
                </p>
            {% endif %}
        </div>
        <form action="{{ url_for('prepare_practice') }}" method="POST" class="pl-form">
            <button type="submit" name="prepare_practice" value="{{ project['id'] }}" class="btn btn-warning">
                Practice
            </button>
        </form>
        <form action="{{ url_for('prepare_download') }}" method="POST" class="pl-form">
            <button type="submit" name="prepare_download" value="{{ project['id'] }}" class="btn btn-info">
                Download
            </button>
        </form>
        <br><br>
    </div>

{% endblock %}
